<div ng-controller="CommonController as ctrl">
    <nav class="nav sidebar-nav" ng-class="sidebarshow ? 'sidebar-nav-expand' : 'defaultState'">
        <img src="public/images/shadow-rigs-logo.png" class="img-fluid sidebar-logo" />
        <ul class="sidebar-nav-wrap">
            <li class="sidebar-li">
                <a href="#/" ng-click="sidebarshow = !sidebarshow">
                    <div class="sidebar-nav-left" ng-class="sidebarshow ? 'animated sidebar-fadeInLeft' : 'defaultState'">
                        <span class="fa fa-home" ng-class="{ active: ctrl.currentTab(menuItem.link)}" aria-defaultState="true"></span>
                    </div><div class="sidebar-nav-right" ng-class="sidebarshow ? 'animated sidebar-fadeInRight' : 'defaultState'">Home</div>
                </a>
            </li>
            <li class="sidebar-li">
                <a href="#/products/gaming" ng-click="sidebarshow = !sidebarshow">
                    <div class="sidebar-nav-left" ng-class="sidebarshow ? 'animated sidebar-fadeInLeft' : 'defaultState'">
                        <span class="fa fa-desktop" ng-class="{ active: ctrl.currentTab(menuItem.link)}" aria-defaultState="true"></span>
                    </div><div class="sidebar-nav-right" ng-class="sidebarshow ? 'animated sidebar-fadeInRight' : 'defaultState'">Gaming Desktops</div>
                </a>
            </li>
            <li class="sidebar-li">
                <a href="#/products/pro" ng-click="sidebarshow = !sidebarshow">
                    <div class="sidebar-nav-left" ng-class="sidebarshow ? 'animated sidebar-fadeInLeft' : 'defaultState'">
                        <span class="fa fa-desktop" ng-class="{ active: ctrl.currentTab(menuItem.link)}" aria-defaultState="true"></span>
                    </div><div class="sidebar-nav-right" ng-class="sidebarshow ? 'animated sidebar-fadeInRight' : 'defaultState'">Workstations</div>
                </a>
            </li>
            <li class="sidebar-li">
                <a href="#/product/laptop" ng-click="sidebarshow = !sidebarshow">
                    <div class="sidebar-nav-left" ng-class="sidebarshow ? 'animated sidebar-fadeInLeft' : 'defaultState'">
                        <span class="fa fa-laptop" ng-class="{ active: ctrl.currentTab(menuItem.link)}" aria-defaultState="true"></span>
                    </div><div class="sidebar-nav-right" ng-class="sidebarshow ? 'animated sidebar-fadeInRight' : 'defaultState'">Laptops</div>
                </a>
            </li>
            <li class="sidebar-li" ng-click="sidebarshow = !sidebarshow">
                <a href="#/crew">
                    <div class="sidebar-nav-left" ng-class="sidebarshow ? 'animated sidebar-fadeInLeft' : 'defaultState'">
                        <span class="fa fa-users" ng-class="{ active: ctrl.currentTab(menuItem.link)}" aria-defaultState="true"></span>
                    </div><div class="sidebar-nav-right" ng-class="sidebarshow ? 'animated sidebar-fadeInRight' : 'defaultState'">About Us</div>
                </a>
            </li>
            <li class="sidebar-li" ng-click="sidebarshow = !sidebarshow">
                <a href="#/support">
                    <div class="sidebar-nav-left" ng-class="sidebarshow ? 'animated sidebar-fadeInLeft' : 'defaultState'">
                        <span class="fa fa-question-circle" ng-class="{ active: ctrl.currentTab(menuItem.link)}" aria-defaultState="true"></span>
                    </div><div class="sidebar-nav-right" ng-class="sidebarshow ? 'animated sidebar-fadeInRight' : 'defaultState'">Support</div>
                </a>
            </li>
            <li class="sidebar-li" ng-click="sidebarshow = !sidebarshow">
                <a ui-sref="checkout">
                    <div class="sidebar-nav-left" ng-class="sidebarshow ? 'animated sidebar-fadeInLeft' : 'defaultState'">
                        <span class="fa fa-shopping-cart" ng-class="{ active: ctrl.currentTab(menuItem.link)}" aria-defaultState="true"></span>
                    </div>
                    <div class="sidebar-nav-right" ng-class="sidebarshow ? 'animated sidebar-fadeInRight' : 'defaultState'"><ngcart-summary template-url="app/components/ngcart/summary.html"></ngcart-summary>
                    </div>
                </a>
            </li>
        </ul>

    </nav>

    <div class="hamburger-menu" id="menu-btn" ng-click="sidebarshow = !sidebarshow"  ng-class="sidebarshow ? 'open' : 'defaultState'">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="full-page-hamburger-menu" id="full-page-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <section class="full-header-wrap header-wrap">

        <div class="container header-container">
            <div class="top-header-container">
                <span class="fa fa-phone" aria-defaultState="true"></span><span class="top-header-phone">971.206.4202</span>
                <span class="top-header-email"><a href="mailto:info@shadowrigs.com">info@shadowrigs.com</a></span>
            </div>

            <div class="header-logo-wrap col-md-3 col-xs-12 col-sm-6 col-sm-push-3 col-md-push-0">
                <a href="#/"><h1 class="screen-reader">{{ctrl.pageTitle}}</h1></a>
            </div>
            <nav class="nav header-nav-wrap col-sm-9">
                <ul>
                    <li>
                        <a href="#/">
                            <span class="fa fa-home"></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#/products/gaming">
                            <span class="fa fa-desktop"></span>
                            Gaming Desktops
                        </a>
                    </li>
                    <li>
                        <a href="#/products/pro">
                            <span class="fa fa-desktop"></span>
                            Work<br>stations
                        </a>
                    </li>
                    <li>
                        <a href="#/product/laptop">
                            <span class="fa fa-laptop"></span>
                            Laptops
                        </a>
                    </li>
                    <li>
                        <a href="#/crew">
                            <span class="fa fa-users"></span>
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="#/support">
                            <span class="fa fa-question-circle"></span>
                            Support
                        </a>
                    </li>
                    <li>
                        <a ui-sref="checkout">
                            <span class="fa fa-shopping-cart"></span>
                            <ngcart-summary template-url="app/components/ngcart/summary.html"></ngcart-summary>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</div>
