<div ng-controller="CommonController as ctrl">
    <nav class="nav sidebar-nav" ng-class="sidebarshow ? 'sidebar-nav-expand' : 'defaultState'">
        <img src="public/images/shadow-rigs-logo.png" class="img-fluid sidebar-logo" />
        <ul class="sidebar-nav-wrap">
            <li class="sidebar-li" ng-repeat="menuItem in ctrl.menuItems">
                <a href="#{{menuItem.link}}">
                    <div class="sidebar-nav-left" ng-class="sidebarshow ? 'animated sidebar-fadeInLeft' : 'defaultState'">
                        <span class="fa fa-home" ng-class="{ active: ctrl.currentTab(menuItem.link)}" aria-defaultState="true"></span>
                    </div><div class="sidebar-nav-right" ng-class="sidebarshow ? 'animated sidebar-fadeInRight' : 'defaultState'">Home</div>
                </a>
            </li>

            <li>
                <a ui-sref="checkout">
                    <ngcart-summary template-url="app/components/ngcart/summary.html"></ngcart-summary>
                </a>
            </li>
        </ul>

    </nav>

    <div class="hamburger-menu" id="menu-btn" ng-click="sidebarshow = !sidebarshow"  ng-class="sidebarshow ? 'open' : 'defaultState'">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="full-page-hamburger-menu" id="full-page-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <section class="full-header-wrap header-wrap">

        <div class="container header-container">
            <div class="top-header-container">
                <span class="fa fa-phone" aria-defaultState="true"></span><span class="top-header-phone">202-555-0182</span>
                <span class="top-header-email"><a href="mailto:info@shadowrigs.com">info@shadowrigs.com</a></span>
            </div>

            <div class="header-logo-wrap col-md-3 col-xs-12 col-sm-6 col-sm-push-3 col-md-push-0">
                <a href="#/"><h1 class="screen-reader">{{ctrl.pageTitle}}</h1></a>
            </div>
            <nav class="nav header-nav-wrap col-sm-9">
                <ul>
                    <li ng-repeat="menuItem in ctrl.menuItems">
                        <a href="#{{menuItem.link}}">
                            <span class="fa fa-home" ng-class="{ 'active': ctrl.currentTab(menuItem.link)}" aria-defaultState="true"></span>
                            {{menuItem.name}}
                        </a>
                    </li>

                    <li>
                        <a ui-sref="checkout">
                            <ngcart-summary template-url="app/components/ngcart/summary.html"></ngcart-summary>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</div>
