.customize-product-top {
  position: relative;
  background: url("../images/customize/customize-top-bg.png") center top no-repeat;
  width: 100%;
  min-height: 527px;

  @include media-breakpoint-down(md) {

  }
  @include media-breakpoint-down(sm) {

  }

  @include media-breakpoint-down(xs) {
  }
}

.cp-product-img {
  text-align: center;
  padding-top: 30px;
  > img {
    height: 500px;
    width: auto;
  }
}

.cp-summary {
  @include border-radius(5px);
  background-color: rgba(255,255,255,.9);
  width: 100%;
  height: 500px;
  margin: 10px 0 0 0;
  color: #1a1a1a;
  text-align: center;
  position: relative;
  h2.cps-summary-title {
    background-color: $offblack;
    padding: 20px;
    color: white;
    display: block;
    @include border-radius(5px 5px 0 0);
    position: relative;
    top: -1px;
    text-align: center;
    font-size: 30px;
  }
}

.cps-list {
  list-style-type: none;
  font-size: 18px;
  margin: 20px 0;
  padding: 0 0 0 25px;
  text-align: left;
}

.cps-delivery {
  font-size: 20px;
  margin-top: 29px;
  h3 {
    font-size: 20px;
    text-transform: uppercase;
    @include brand-bold;
  }
}

.cps-total {
  width: 100%;
  @include brand-black;
  font-size: 30px;
  margin: 20px 0;
  h3 {
    display: inline-block;
    @include brand-black;
    font-size: 30px;
    text-transform: uppercase;
    margin-right: 20px;
  }
  span {
    display: inline-block;
  }
}

.cps-add-to-cart {
  width: 90%;
  margin: 0 5% 0 5%;
  display: block;
  @include border-radius(5px);
  background-color: $dark-red;
  color: white;
  @include brand-bold;
  font-size: 25px;
  padding: 10px;
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
}



.cp-module {
  @include border-radius(8px 8px 0px 0px);

  color: $offblack;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 10px;
  @include box-shadow(0 0 3px 3px rgba(0,0,0,.3));
  h3.cpm-title {
    border: 1px solid rgba(255,255,255,.3);
    border-bottom: 0;
    @include gradient-vertical($start-color: $dark-red, $end-color: $darker-red, $start-percent: 0%, $end-percent: 100%);

    border-bottom: 1px solid $offwhite;
    padding: 7px;
    color: rgba(255,255,255,.9);
    display: block;
    @include border-radius(5px 5px 0 0);
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    margin: 0;
    letter-spacing: 1px;

  }

}

.cpm-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: relative;
    &:hover, &:focus {
      background-color: #cfcfcf;
    }
    &:last-of-type {
      border-bottom: 0;
    }
  }
}

.cpm-inner {
  width: 100%;
  border-bottom: 1px solid $mid-gray;
  min-height: 55px;
  display: block;
  position: relative;
  color: $offblack;
  @include gradient-vertical($start-color: white, $end-color: #d0d0d0, $start-percent: 0%, $end-percent: 100%);

  &:hover, &:focus {
    @include gradient-vertical($start-color: #d0d0d0, $end-color: #b8b8b8, $start-percent: 0%, $end-percent: 100%);
    color: black;
  }
  img {
    max-width: 100%;
  }

}

.cpm-radio-wrap {
  display: inline-flex;
  align-self: stretch;
  width: 40px;
  background-color: rgba(0,0,0,.8);
  height: 100%;
  position: absolute;
  @include border-radius(0 5px 5px 0);
  input {
    margin: 0 auto;
    width: 18px;
    height: 18px;
    display: flex;
    align-self: center;
  }
}

.cpm-item-wrap {
  display: inline-block;
  margin-top: 10px;
  padding-left: 50px;
  h4 {
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: bold;
    display: inline-block;
    text-transform: none;
    max-width: 500px;
  }
  p {

  }
  .cpm-price {
    right: 80px;
    top: 16px;
    position: absolute;
    @include brand-bold;
    font-size: 25px;
    color: $green;
  }

}
.cpm-expand-desc {
  position: absolute !important;
  top: 11px;
  right: 10px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  @include brand-semi;
  color: #818181;
  font-size: 30px;
  &:hover, &:focus {
    color: $gray;
  }
  z-index: 1000;
}
/* need to clean this up */

.cpm-description {
  color: white;
  @include gradient-vertical($start-color: #1e1e1e, $end-color: #0b0b0b, $start-percent: 0%, $end-percent: 100%);
  border-bottom: 1px solid $offwhite;
  padding: 10px 10px 10px 40px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.cpm-desc-hide {
  visibility: hidden;
  height: 0 !important;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  padding: 0;
  * {
    height: 0;
  }
}

.cpm-desc-open {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  visibility: visible;
  height: auto;
}

.cpm-horz {
  li {
    display: inline-block;
    text-align: center;
    border-bottom: none;
    border-right: 1px solid $offwhite;
    &:last-of-type {
      border-right: 0;
    }
  }
  .cpm-item-wrap {
    margin: 10px;
    padding: 0;
  }
  span.cpm-price {
    position: relative;
    right: 0;
    top: 0;
  }
  .cpm-radio-wrap {
    width: 100%;
    @include border-radius(5px 5px 0 0);
    position: absolute;
    height: 40px;
    bottom: 0;
    left: 0px;
    input {
      margin: 10px auto;
    }
  }
  .cpm-inner {
    border: 0;
    min-height: 520px;
  }
}

.cpm-color-picker {
  padding-top: 20px;
  display: block;
  p {
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
    @include brand-semi;
    text-transform: uppercase;
  }
}

.cpm-color {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  z-index: 10;
  display: block;
  text-align: center;
  @include border-radius(6px);
  &.selected {
    border: 4px solid white;
    @include box-shadow(0 0 7px 4px rgba(255,255,255,.2));
  }
  &.red {
    background-color: #db0015;
  }
  &.blue {
    background-color: #0059ec;
  }
  &.green {
    background-color: #00c80e;
  }
  &.purple {
    background-color: #8600e4;
  }
  &.yellow {
    background-color: #e3e000;
  }
  &.white {
    background-color: #f5f5f5;
  }

}

.customize-nav {
  display: block;
  width: 100%;
  margin: 10px 0 30px 0;
  min-height: 50px;
  @include border-radius(5px);
  a {
    display: inline-flex;
    margin: 0;
    padding: 0;
    height: 66px;
    background-color: white;
    position: relative;
    align-items: center;
    color: $offblack;
    float:left;
    border: 1px solid #bbbbbb;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    h3 {
      font-weight: bold;
      letter-spacing: -1px;
      text-transform: uppercase;
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      width: 100%;
      padding-left: 10px;
    }
    @include gradient-vertical($start-color: white, $end-color: #d0d0d0, $start-percent: 0%, $end-percent: 100%);
    &:first-of-type {
      @include border-radius(5px 0 0 5px);
    }
    &:last-of-type {
      @include border-radius(0 5px 5px 0);
    }
    &:first-of-type:before {
      display: none;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 30px;
      height: 50px;
      margin-top: 8px;
      margin-left: -1px;
      border-left: solid 25px #bbbbbb;
      border-bottom: solid 25px transparent;
      border-top: solid 25px transparent;
    }
    &:hover, &:focus {
      text-decoration: none;
      @include gradient-vertical($start-color: #323232, $end-color: #171717, $start-percent: 0%, $end-percent: 100%);
      color: white;
      border: 1px solid #5a5a5a;
    }
    &:hover::before {
      border-left: solid 25px $offwhite;
    }
  }
}