.customize-product-top {
  position: relative;
  background: url("../images/customize/customize-top-bg.png") center top no-repeat;
  width: 100%;
  min-height: 527px;

  @include media-breakpoint-down(md) {

  }
  @include media-breakpoint-down(sm) {

  }

  @include media-breakpoint-down(xs) {
  }
}

.cp-product-img {
  text-align: center;
  padding-top: 30px;
  > img {
    height: 500px;
    width: auto;
  }
}

.cp-summary {
  @include border-radius(5px);
  background-color: rgba(255,255,255,.9);
  width: 100%;
  height: 500px;
  margin: 10px 0 0 0;
  color: #1a1a1a;
  text-align: center;
  position: relative;
  h2.cps-summary-title {
    background-color: $offblack;
    padding: 20px;
    color: white;
    display: block;
    @include border-radius(5px 5px 0 0);
    position: relative;
    top: -1px;
    text-align: center;
    font-size: 30px;
  }
}

.cps-list {
  list-style-type: none;
  font-size: 18px;
  margin: 20px 0;
  padding: 0 0 0 25px;
  text-align: left;
}

.cps-delivery {
  font-size: 20px;
  margin-top: 29px;
  h3 {
    font-size: 20px;
    text-transform: uppercase;
    @include brand-bold;
  }
}

.cps-total {
  width: 100%;
  @include brand-black;
  font-size: 30px;
  margin: 20px 0;
  h3 {
    display: inline-block;
    @include brand-black;
    font-size: 30px;
    text-transform: uppercase;
    margin-right: 20px;
  }
  span {
    display: inline-block;
  }
}

.cps-add-to-cart {
  width: 90%;
  margin: 0 5% 0 5%;
  display: block;
  @include border-radius(5px);
  background-color: $dark-red;
  color: white;
  @include brand-bold;
  font-size: 25px;
  padding: 10px;
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
}



.cp-module {
  @include border-radius(8px 8px 0px 0px);
  background: white;
  color: $offblack;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 10px;
  @include box-shadow(0 0 3px 3px rgba(0,0,0,.3));
  h3.cpm-title {
    background-color: $darker-red;
    border-bottom: 1px solid $light-gray;
    padding: 10px;
    color: white;
    display: block;
    @include border-radius(5px 5px 0 0);
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    margin: 0;
    letter-spacing: 1px;

  }

}

.cpm-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    border-bottom: 1px solid $offwhite;
    margin: 0;
    padding: 0;
    @include transition(all .5s ease);
    &:hover, &:focus {
      background-color: #cfcfcf;
    }
    &:last-of-type {
      border-bottom: 0;
    }
  }
}

.cpm-inner {
  width: 100%;
  border-bottom: 1px solid $mid-gray;
  min-height: 80px;
  position: relative;
}

.cpm-radio-wrap {
  display: inline-block;
  width: 40px;
  background-color: $dark-red;
  height: 80px;
  position: absolute;
  input {
    margin: 0 auto;
    width: 18px;
    height: 18px;
    display: block;
    margin-top: 30px;
  }
}

.cpm-item-wrap {
  display: inline-block;
  margin-top: 16px;
  padding-left: 50px;
  h4 {
    font-size: 20px;
    @include brand-bold;
    display: inline-block;
    text-transform: none;
    max-width: 500px;
  }
  img {
    max-width: 100%;
  }
  span.cpm-price {
    right: 80px;
    top: 20px;
    position: absolute;
    @include brand-bold;
    font-size: 25px;
    color: $green;
  }
  span.cpm-expand-desc {
    position: absolute;
    top: 12px;
    right: 10px;
    @include brand-semi;
    color: #818181;
    font-size: 40px;
    &:hover, &:focus {
      color: $gray;
    }
  }
}

.cpm-description {
  color: white;
  background-color: #1e1e1e;
  padding: 10px;
}

.cpm-horz {
  li {
    display: inline-block;
    text-align: center;
    border-bottom: none;
    border-right: 1px solid $offwhite;
    &:last-of-type {
      border-right: 0;
    }
  }
  .cpm-item-wrap {
    margin: 10px;
    padding: 0;
  }
  span.cpm-price {
    position: relative;
    right: 0;
    top: 0;
  }
  .cpm-radio-wrap {
    width: 100%;
    position: absolute;
    height: 40px;
    bottom: 0;
    left: 0px;
    input {
      margin: 10px auto;
    }
  }
  .cpm-inner {
    border: 0;
    min-height: 520px;
  }
}

.cpm-color-picker {
  padding-top: 20px;
  p {
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
    @include brand-semi;
    text-transform: uppercase;
  }
}

.cpm-color {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  z-index: 10;
  display: block;
  text-align: center;
  @include border-radius(6px);
  &.selected {
    border: 4px solid white;
    @include box-shadow(0 0 7px 4px rgba(255,255,255,.2));
  }
  &.red {
    background-color: #db0015;
  }
  &.blue {
    background-color: #0059ec;
  }
  &.green {
    background-color: #00c80e;
  }
  &.purple {
    background-color: #8600e4;
  }
  &.yellow {
    background-color: #e3e000;
  }
  &.white {
    background-color: #f5f5f5;
  }

}