/* Jeyrs */
.footer {
  padding-bottom: 15px;
  background-color: $gray-darker;
  color: $navbar-default-link-color;

  .row div {
    min-height: 170px;
  }

  a {
    color: $footer-link-color;
    &:hover, &:active {
      color: $navbar-default-link-active-color;
      text-decoration: none;
    }
  }
  a:hover {

  }
  .fa {
    font-size: 35px;
  }

  #social li {
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $screen-xs) {
      margin:0;
    }
    display: block;
    width: 35px;
  }

  ul {
    margin-top: 18px;

    li:last-child {
      border: none;
    }

    li {
      list-style: none;

      b {
        padding-bottom: 10px;
        font-size: 1.3em;
        display: block;
        color: #ffffff;
      }
    }
  }
}

.contact-form-wrap {
  .btn-primary {
    float: right;
  }
}



.product-wrap {

  background-color: $gray-darker;
  min-height: 680px;

  #main-image {
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $screen-md) {
      margin-top: 60px;
    }
    margin-top: 15px;

  }

  .glyphicon {
    float: right;
    font-size: 35px;
    top: 12px;
    color: $gray-mid;
    cursor: pointer;
    @include color-transition(.3s);

    &:hover {
      color: $gray-lighter;
    }
  }

  .btn-group {
    margin-top: 20px;
    .btn-default {
      color: $gray-lighter;
      background-color: $gray-mid;
      border-color: $gray-darker;
      transition-duration: .1s;
      transition-property: background-color;
      &:hover {
        background-color: $gray-darker;
      }
    }
  }
}
/* end */



.footer-wrap {
  position: relative;
  min-height: 375px;
  background: radial-gradient(circle closest-side, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, .6) 200%), url("img/footer-bg-rpt.jpg") repeat;
  border-top: 1px solid #444444;

}

.footer-left {
  position: absolute;
  background: url("img/footer-left.png") no-repeat;
  height: 420px;
  width: 458px;
  bottom: 0;
  left: -90px;
  background-size: 100%;
  @media only screen and (max-width: 1350px) {
    height: 336px;
    width: 366px;
    left: -100px;
  }
  @include media-breakpoint-down(lg) {

    display: none;
  }
  @include media-breakpoint-down(md) {
    left: -100px;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.footer-logo {
  background: url("img/shadow-rigs-logo-big.png") no-repeat;
  width: 375px;
  height: 293px;
  position: absolute;
  left: 50%;
  margin-left: -187px;
  top: 60px;
  /*
  @include media-breakpoint-down(md) {
    background-size: 80%;
    margin-left: -150px;
  }
  @include media-breakpoint-down(sm) {
    background-size: 60%;
    margin-left: -125px;
  }*/
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.footer-inner {
  text-align: center;
  padding: 10px 0 10px 0;
  margin-right: 5px;
  @include media-breakpoint-down(sm) {
    margin-right: 0px;
    background: none;
  }
  h3 {
    @include brand-black;
    text-transform: uppercase;
    color: $red;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 14px;
    margin-top: 20px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
    @include media-breakpoint-down(xs) {
      padding-left: 30px;
    }
    li {
      @include brand-semi;
      text-align: left;
      a {
        width: 100%;
        color: #e5e5e5;
        padding: 5px 0 5px 10px;
        display: block;
        @include border-radius(5px);
        margin-bottom: 3px;
        &:hover, &:focus {
          background: rgba(0,0,0,.9);
          color: white;
        }
      }
    }
  }
}

.footer-social {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 26px;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  z-index: 10;
  a {
    font-size: 30px;
    margin: 0 5px;
    color: $light-gray;

    &:hover, &:focus{
      color: white;
    }
  }
  .fa {

  }
}

.footer-bottom {
  height: 30px;
  background-color: black;
  @include brand-semi;
  text-align: center;
  padding-top: 7px;
}