.form-wrap {
  background-color: white;
  color: $offblack;
  @include border-radius(5px);
  margin: 20px 0;
  padding: 0 0 20px 0;
  h3 {
    background: $offblack;
    color: white;
    @include border-radius(5px 5px 0 0 );
    padding: 10px;
    display: block;
    &.form-inner-title {
      @include border-radius(0);
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      border-bottom: 1px dotted $offwhite;
      padding: 5px 0;
      margin: 0 0 5px 0;
    }
  }
  label {
    font-size: 1rem;
    text-transform: uppercase;
    display: inline-block;
    min-width: 27%;
    text-align: right;
    padding-right: 20px;

  }
  input {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 4px rgba(0,0,0,0.8);
    border: 0;
    display: inline-block;
    @include border-radius(.25rem);
    min-width: 69%;
    line-height: 2rem;
    margin-right: 10px;
  }
}

.form-multiple-elements {
  input {
    width: 100%;
  }
}

.form-single-line {
}

.cc-accepted {
  display: block;
  margin: 0 auto;
}

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
  display: inline;
  font-weight: bold;
}
.credit-card-box .form-control.error {
  border-color: red;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
  display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
  display: table;
}
.credit-card-box .display-tr {
  display: table-row;
}
.credit-card-box .display-td {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
  min-width: 180px;
}

.checkout-wrap {
  padding: 50px 10px;
}

.customer-info-wrap {
  background: rgba(0,0,0,.5);
  border: 1px solid rgba(255,255,255,.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  h2 {
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.3);
    padding: 20px;
  }
  .form-line {
    padding: 10px;
    border-bottom: 1px solid rgba(255,255,255,.05);
    input, select {
      display: block;
      width: 100%;
      min-height: 34px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-color: rgba(255,255,255,.9);
      margin: 0;
      border: 1px solid rgba(255,255,255,.3);
      color: black;
      font-size: 17px;
    }
    label {
      font-size: 17px;
    }
  }
}

.billing-info-wrap, .shipping-info-wrap {
  padding: 20px 10px;
  h3 {
    padding: 10px 15px;
  }
}

.shipping-info-wrap {
  height: 100%;
  border-right: 1px solid rgba(255,255,255,.3);

}

.billing-info-wrap {
  .same-as-shipping {
    float: right;
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
  }
}



.customer-extra-wrap {
  padding: 50px 10px;
}