.iubenda-cs-content {
  display: none !important;
  visibility: hidden !important;
  height: 0 !important;
}

.maint-splash {
  //display: none;
}
body.customize {
  * {
    //display: none;
  }
  .maint-splash {
    * {
      //display: block;
    }
    //display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.5);
    z-index: 1000;
    .maint-inner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 40%;
      min-height: 40%;
      padding: 20px;
      min-width: 300px;
      background: rgba(255,255,255,.9);
      color: $offblack;
      text-align: center;
      box-shadow: 0 0 30px rgba(0,0,0,1);
      border-radius: 6px;
      h3 {
        font-size: 22px;
        margin-bottom: 30px;
      }
      p {
        font-size: 16px;
      }
      a.maint-show-me {
        font-size: 22px;
        display: block;
        padding: 20px;
        cursor: pointer;
      }
    }
  }
}

.maint-splash-hide {
  display: none !important;
  &.main-splash {
    display: none;
  }
}