@import "bootstrap/variables.scss";
@import "toolbox";

.module {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  & > img {
    border: 1px solid $color-accent-dull;
    width: 100%;
    height: auto;
  }
}

.top-content .module {
  text-align: center;

  > p {
    @include brand-semi;
  }
}

.content {
  & .content-module {
    margin-bottom: 20px;
    @include box-shadow(0 0 10px 5px rgba(0,0,0,.5));
    position: relative;
    border: 1px solid $color-accent-dull;

   /* this is worse for responsive but can accept different size of images

   height: 300px;
    @include media-breakpoint-down(lg) {
      height: 280px;
    }
    @include media-breakpoint-down(md) {
      height: 232px;
    }
    @include media-breakpoint-down(sm) {
      height: 135px;
    }
    @include media-breakpoint-down(xs) {
      height: 170px;
    }
*/
    > img {
      max-width: 100%;
      height: auto;

    }
  }
}

.module-overlay {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  background-color: rgba(0, 0, 0, .85);
  width: 100%;
  text-align: left;
  padding: 10px 0 0 10px;
  height: 27%;

  border-top: 0;
  h3 {
    text-transform: uppercase;
  }
  p {
    margin: 2px 0 5px 0;
  }
  @include media-breakpoint-down(md) {
    height: 35%;
    h3 {
      font-size: 14px;
    }
    p {
      margin: -5px 0 5px 0;
    }
  }
  @include media-breakpoint-down(sm) {
    height: 35%;
    h3 {
      font-size: 14px;
    }
    p {
      font-size: 12px;
    }
  }

  &:hover, &:focus {
    background-color: rgba(0,0,0,.95);
    height: 35%;
    @include transition(all .2s ease-in-out);
    @include media-breakpoint-down(md) {
      height: 40%;
    }
  }
}

/* cross browser for transition */
[class*="product-module"] {
  display: block;
  margin: 35px auto;
  background: #3a3a3a;
  border: 1px solid #454545;
  text-align: center;
  padding: 10px 0 64px 0;
  position: relative;
  transition: background-color 0.7s ease;
  @include border-radius(5px);
  color: white;
  overflow: hidden;
  z-index: 1;
  &:hover, &:focus {
    background: #1c1c1c;
    color: white;
    text-decoration: none;
  }
  img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  h2 {
    margin-top: -20px;
    text-shadow: 0 0 4px #000;

  }
  p {
    display: block;
    background: rgba(0,0,0,.5);
    position: absolute;
    bottom: -10px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  @include media-breakpoint-down(xs) {
    padding-bottom: 90px;
    margin: 30px auto;
  }
}

.product-module-highlight {
  height: 350px;
  background: rgba(255,255,255,.1);
  border: 1px solid #484848;
  transition: all 0.7s ease;
  img {
    width: 100%;
  }
  &:hover, &:focus {
    background: rgba(120,0,0,.7);
    border: 1px solid #800000;
  }
  .highlight-overlay {
    display: block;
    background: rgba(255,255,255,.1);
    position: absolute;
    bottom: -10px;
    font-size: 16px;
    padding: 10px 0;
    width: 100%;
    margin: 0;
    min-height: 120px;
  }
  h2 {
    margin-top: 0;
  }
  p {
    position: relative;
    margin: 0;
    bottom: 0;
    background: rgba(0,0,0,0);
    font-size: 13px;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }
}