nav {
  padding: 0;
  color: white;
  text-transform: uppercase;
  @include brand-bold;
  .fa {
    font-size: 30px;
    display: block;
    color: white;
    /* text-shadow: 0 0 12px #000; */
  }
  a {
    color: #fff;
    /* text-shadow: 0 0 12px #000; */

  }

}


.header-nav-wrap {
  height: 100%;
  ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    li {
      display: inline-block;
      width: (100% / 7);
      height: 100%;
      float: left;
      font-size: 14px;
      text-align: center;
      position: relative;
      @include media-breakpoint-down(md) {
        font-size: 11px;
      }
      a {
        padding-top: 30px;
        display: block;
        border-left: 1px solid rgba(255,255,255,.1);
        margin: 40% 0 0 0;
        height: 60%;
        transition: all 0.7s ease;

        &:hover, &focus {
          color: white;
          text-decoration: none;
          background: #7a0000;
          .fa {
            transition: all 0.7s ease;
            background: -webkit-linear-gradient(#FFF, #FFF);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        &:active {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.header-nav-wrap .fa {
  margin-bottom: 5px;
  background: -webkit-linear-gradient(#d84536, #811207);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:hover, &focus {

  }
}

.active-highlight {
  border: 2px solid #9ffad1;
  border-top: none;
  height: 7px;
  width: 45px;
  position: absolute;
  top: 60px;
  box-shadow:0 3px 5px 1px rgba(86,255,243,.3);
  left: 2px;
  right: 0;
  margin: auto;
}


 /* .hamburger-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  z-index: 50;
  display: block;
  span {
    width: 30px;
    height: 4px;
    margin-top: 4px;
    background-color: #FFF;
    border-radius: 5px;
    color: #fff;
    display: block;
  }
} */

.sidebar-nav {
  height: 150%;
  width: 100%;
  position: fixed;
  @include transition(all .3s); /*need to troubleshoot */
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  z-index: 30;
  background-color: rgba(0,0,0,.95);
  left: -100%;
  overflow: hidden;
  visibility: hidden;
  img {
    margin-bottom: 10px;
  }
  ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    li {
      a {
        font-size: 17px;
        padding: 5px 0;
        position: relative;
        display: block;
        vertical-align: middle;
        border-bottom: 1px solid rgba(255,255,255,.1);
        background-color: rgba(137,255,118,.01);
        &:hover, &:focus {
          background-color: #121c13;
          color: $color-accent;
          border-top: 1px solid #131313;
          border-bottom: 1px solid #131313;
        }
      }
      .fa {
        font-size: 28px;
        display: inline-block;
        padding: 0 10px 0 0;
        margin: 0 auto;
      }
    }
  }
}

.sidebar-fadeInLeft {
  @include animate-prefixer(animation-name, fadeInLeft);
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.sidebar-fadeInRight {
  @include animate-prefixer(animation-name, fadeInRight);
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}


.sidebar-nav-left,
.sidebar-nav-right {
  display: inline-block;
  width: 52%;
  padding: 0;
  @media only screen and (max-width: 470px) {
    width: 54%;
  }
  @media only screen and (max-width: 400px) {
    width: 56%;
  }
}

.sidebar-nav-left {
  text-align: right;
  width: 48%;
  @media only screen and (max-width: 470px) {
    width: 46%;
  }
  @media only screen and (max-width: 400px) {
    width: 44%;
  }
}

.sidebar-nav-expand {
  display: block !important;
  left: 0;
  visibility: visible;
}


.sidebar-logo {
  margin: 0 auto;
  height: auto;
  max-width: 80%;
  display: block;
}


/* could SASSify */

.hamburger-menu, .full-page-hamburger-menu {
  width: 40px;
  height: 35px;
  position: fixed;
  padding-right: 10px;
  top: 4px;
  right: 1%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 35;
  background: rgba(0,0,0,.7);
  @include border-radius(5px);
  visibility: hidden;
  @include media-breakpoint-down(sm) {
    visibility: visible;
  }
}


.full-page-hamburger-menu {
  visibility: hidden;
  z-index: 19;
}

body.parent-pageid-45 .full-page-hamburger-menu {
  @include media-breakpoint-down(xl) {
    visibility: visible;
  }
  @include media-breakpoint-down(md) {
    visibility: hidden;
  }
}

.hamburger-menu span, .full-page-hamburger-menu span {
  display: block;
  position: absolute;
  height: 5px;
  width: 30px;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  margin: 5px -10px 5px 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hamburger-menu span:nth-child(1), .full-page-hamburger-menu span:nth-child(1) {
  top: 0px;
}

.hamburger-menu span:nth-child(2), .full-page-hamburger-menu span:nth-child(2) {
  top: 10px;
}

.hamburger-menu span:nth-child(3), .full-page-hamburger-menu span:nth-child(3) {
  top: 20px;
}

.hamburger-menu.open span:nth-child(1), .full-page-hamburger-menu.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.hamburger-menu.open span:nth-child(2), .full-page-hamburger-menu.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.hamburger-menu.open span:nth-child(3), .full-page-hamburger-menu.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


/* create rig nav */

.cr-nav {
  width: 100%;
  border: 0px solid blue;
  position: absolute;
  bottom: -50px;
  display: block;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    a {
      text-indent: -9999px;
      display: inline-block;
      height: 89px;

      &.cr-nav-1 {
        width: 243px;
        background: url("../../images/buttons/cr-case-options.png") 0 0 no-repeat;
      }
      &:hover, &:focus {
        background-position: 0 -89px;
      }
    }
  }
}