/* TODO there is some cleanup needed here */


body {
  background-color: black;
  color: #FFF;
  overflow-x: hidden;
  background: url("../images/content-bg-rpt-2.jpg") repeat;
}

.mid-wrap {
  position: relative;
  border-bottom: 5px solid #393939;
  @include media-breakpoint-down(sm) {
    background-position-y: -120px;
  }
  @include media-breakpoint-down(xs) {
    background-position-y: -200px;
  }

}

/* should go somewhere else */
.body-content {
  min-height: 450px;
}

/* might not need anymore */
.top-content-wrap {
  position: relative;
  min-height: 200px;
  padding: 80px 0 30px 0;
  margin-top: -56px;
  /* @include box-shadow(inset 0 -15px 80px 35px rgba(0,0,0,1), inset 0 -15px 15px -15px rgba(0,0,0,1));
  background: url("../images/top-content-bg-rpt.png") repeat; */
  h2 {
    text-transform: uppercase;
    margin: 15px 0;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }
  p {
    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }
  }
}


.top-content, .content-wrap {
  & .row {
    margin-left: -1%;
    margin-right: 0%;
    & > [class^="col-"],
    & > [class*=" col-"] {
      padding-left: 1%;
      padding-right: 0%;
    }
  }
}

.content-bg-top {
  background: url("../images/content-bg-top.png") center top no-repeat;
  height: 100px;

}
.content-wrap {
  position: relative;
  min-height: 300px;
  /* @include box-shadow(inset 0 -15px 80px 35px rgba(0,0,0,1), inset 0 -15px 80px -15px rgba(0,0,0,1)); */
  padding-bottom: 30px;
  text-align: left;
}

.with-carousel {
  @include media-breakpoint-down(sm) {
    margin-top: -60px;
  }
}

.container {
  position: relative;
}

.page-content {
  padding-top: 25px !important;
  border-top: 0;
  border-bottom: 0;
  min-height: 400px;
  position: relative;
}

.page-title {
  position: absolute;
  top: -50px;
  right: 20px;
  z-index: 100;
  font-size: 35px;
  color: #e1ebe5;
  @include brand-bold;
  text-shadow: 0 0 4px #000, 0 0 7px #000, 0 0 2px #000;
}



.banner {
  width: 100%;
  height: 181px;
  @include media-breakpoint-down(sm) {

  }
  @include media-breakpoint-down(xs) {
    display: none;
  }
}
.banner-default {
  background: url("../images/default-banner.jpg") center top no-repeat;
}

.banner-spectre {
  background: url("../images/banners/spectre.jpg") center top no-repeat;
}


/* product page */

.slide-page-down {
  animation: scaleDown .7s ease both;
}


.product-highlight-wrap {
  background: url("../images/product-highlight-bg-rpt-6.jpg");
  margin-bottom: 20px;
  border-bottom: 5px solid #393939;
}


.gallery-wrap {
  margin-top: 30px;
}