@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-face {
  font-family: 'introblack';
  src: url('../fonts/fontfabric_-_intro-black-webfont.eot');
  src: url('../fonts/fontfabric_-_intro-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fontfabric_-_intro-black-webfont.woff2') format('woff2'),
  url('../fonts/fontfabric_-_intro-black-webfont.woff') format('woff'),
  url('../fonts/fontfabric_-_intro-black-webfont.ttf') format('truetype'),
  url('../fonts/fontfabric_-_intro-black-webfont.svg#introblack') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'introthin';
  src: url('../fonts/fontfabric_-_intro-thin-webfont.eot');
  src: url('../fonts/fontfabric_-_intro-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fontfabric_-_intro-thin-webfont.woff2') format('woff2'),
  url('../fonts/fontfabric_-_intro-thin-webfont.woff') format('woff'),
  url('../fonts/fontfabric_-_intro-thin-webfont.ttf') format('truetype'),
  url('../fonts/fontfabric_-_intro-thin-webfont.svg#introthin') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'introthin_italic';
  src: url('../fonts/fontfabric_-_intro-thin-italic-webfont.eot');
  src: url('../fonts/fontfabric_-_intro-thin-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fontfabric_-_intro-thin-italic-webfont.woff2') format('woff2'),
  url('../fonts/fontfabric_-_intro-thin-italic-webfont.woff') format('woff'),
  url('../fonts/fontfabric_-_intro-thin-italic-webfont.ttf') format('truetype'),
  url('../fonts/fontfabric_-_intro-thin-italic-webfont.svg#introthin_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'introregular';
  src: url('../fonts/fontfabric_-_introregular-webfont.eot');
  src: url('../fonts/fontfabric_-_introregular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fontfabric_-_introregular-webfont.woff2') format('woff2'),
  url('../fonts/fontfabric_-_introregular-webfont.woff') format('woff'),
  url('../fonts/fontfabric_-_introregular-webfont.ttf') format('truetype'),
  url('../fonts/fontfabric_-_introregular-webfont.svg#introregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'introsemibold';
  src: url('../fonts/fontfabric_-_introsemibold-webfont.eot');
  src: url('../fonts/fontfabric_-_introsemibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fontfabric_-_introsemibold-webfont.woff2') format('woff2'),
  url('../fonts/fontfabric_-_introsemibold-webfont.woff') format('woff'),
  url('../fonts/fontfabric_-_introsemibold-webfont.ttf') format('truetype'),
  url('../fonts/fontfabric_-_introsemibold-webfont.svg#introsemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'introbold';
  src: url('../fonts/fontfabric_-_intro-bold-webfont.eot');
  src: url('../fonts/fontfabric_-_intro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fontfabric_-_intro-bold-webfont.woff2') format('woff2'),
  url('../fonts/fontfabric_-_intro-bold-webfont.woff') format('woff'),
  url('../fonts/fontfabric_-_intro-bold-webfont.ttf') format('truetype'),
  url('../fonts/fontfabric_-_intro-bold-webfont.svg#introbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@mixin brand-black {
  font-family: introblack;
  font-weight: normal;
  font-style: normal;
}
@mixin brand-semi {
  font-family: introsemibold;
  font-weight: normal;
  font-style: normal;
}
@mixin brand-bold {
  font-family: introbold;
  font-weight: normal;
  font-style: normal;
}
@mixin brand-regular {
  font-family: introregular;
  font-weight: normal;
  font-style: normal;
}

@mixin brand-thin {
  font-family: introthin;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

h1, .h1 {
  font-size: 30px;
  text-transform: uppercase;
  @include brand-black;
}
h2, .h2 {
  font-size: 20px;
  @include brand-bold;
  text-transform: uppercase;
}
h3, .h3 {
  font-size: 18px;
  @include brand-semi;
}
h4, .h4 {
  font-size: 16px;
  @include brand-semi;
}
h5, .h5 {

}

.product-content {
  h1 {

  }
  h2 {
    font-size: 42px;
  }
  p {
    font-size: 24px;

  }
  @include media-breakpoint-down(sm) {
    h2 {
      font-size: 32px;
    }
    p {
      font-size: 16px;
    }
  }
}