.body-content {

  min-height: 80%;

  h1 {
    padding: 50px 0 15px 0;
    font-size: 2.5em;
    border-bottom: thin solid $gray-mid;
  }
  #home-fluid-wrap {
    margin-right: -15px;
  }
  #home-text {
    margin: 0;

    #home-image {
      background-color: black;
      display: block;
      padding-left: 0;
      overflow:hidden;
      img {
        max-height: 660px;
      }
    }
  }

  .text-columns-lg-2 {
    @media (min-width: $screen-md) {
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2;

      -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
      -moz-column-gap: 40px; /* Firefox */
      column-gap: 40px;
    }
  }
  .text-columns-md-2 {
    @media(max-width: $screen-md) {
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2;

      -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
      -moz-column-gap: 40px; /* Firefox */
      column-gap: 40px;
    }
  }
  .text-columns-lg-3 {
    @media (min-width: $screen-md) {
      -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3;

      -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
      -moz-column-gap: 40px; /* Firefox */
      column-gap: 40px;
    }
  }
  .text-columns-xs-1 {
    @media (max-width: $screen-xs) {
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;

      -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
      -moz-column-gap: 40px; /* Firefox */
      column-gap: 40px;
    }
  }

  .products-wrap{
    margin-bottom: 7em;
  }
  
  .crew-row {
    margin-bottom: 2.5em;
  }
  
  
  .product-item-wrap {
    padding: 15px;

    h3 {
      text-align: center;
      margin-bottom: 20px;
    }

    .btn-primary {
      margin-top: 15px;
      display: block;
      margin-right: auto;
      margin-left: auto;

    }
  }

  .lower-page-content-wraper {
    background-color: $gray-darker;
    margin-top: 60px;
    margin-right: 0;
    margin-left: 0;

    .home-product-link-wrap {
      padding: 30px;
      text-align: justify;
    }

    h3 {
      text-align: center;
    }

    .btn-primary {
      margin-top: 20px;
      display: block;
      max-width: 125px;
      margin-right: auto;
      margin-left: auto;

    }
  }

  #product-types {
    b {
      margin-top: 30px;
      display: block;
    }

    a {
      color: $default-link-color;
      &:hover {
        color: $default-link-hover-color;
      }
    }

    div {
      border-right: 1px solid #474747;
      font-size: 1.3em;
      text-align: center;
      height: 150px;
    }

    @media (min-width: $screen-lg) {
      div:last-child {
        border: none;
      }
    }
    @media (max-width: $screen-md) {
      div:nth-child(2) {
        border: none;
      }
      div:last-child {
        border: none;
      }
    }
    @media (max-width: $screen-sm) {
      div {
        border: none;
      }
    }
  }


  .carousel {
    margin-top: 50px;
    max-height: 400px;
    width: 100%;
    background-color: #ffffff;

    .carousel .carousel-control {
      opacity: 0;
      transition: .5s;
      transition-property: opacity;
      background: none;
    }
    .carousel:hover .carousel-control {
      visibility: hidden;
      background: none;
      transition: .5s;
    }

    &:hover {
      .carousel .carousel-control {
        background: none;
        visibility: visible;
        opacity: 100;
        transition: .5s;
        transition-property: opacity;
      }
      .carousel:hover .carousel-control {
        background: none;
        visibility: visible;
        transition: .5s;
        cursor: pointer;
      }
    }
  }
  
  .warranty-wrap{
    margin-bottom: 3em;
  }
}


.products-wrap {

  .product-item {
    padding: 15px;
    transition: .5s;

    h3 {
      text-align: center;
      font-weight: 600;
      font-size: 22px;
    }

    .btn {
      margin-top: 20px;
      display: block;
      color:#888888;

      &:hover {
        color:#ffffff;
      }
    }
  }
}


 /****
  *
  * This is all for the customize page
  *
  ****/

.accordion{
  background-color:$gray-darker;
  margin-bottom: 2px;
  .accordion-heading{
    background-color: $gray-darker;
    padding: 8px 15px;
    overflow: hidden;
    h4 {
      float:left;
      a {
        color: $gray-light;
        &:hover{
          color: $gray-lighter;;
        }
        &:visited{
          text-decoration:none;
        }
      }
    }

    i {
      float: right;
      font-style: normal;
      font-size: 1.5em;
      padding: 8px;
      color:#888888;
    }

  }

  .accordion-items {
    margin:0;

    li {
      padding: 12px 18px;
      list-style: none;
      border-bottom: thin solid $gray-dark;
      color:#888888;

      &:last-child{
        border:none;
      }

      &:hover{
        background-color: $gray-dark;
      }

      .square{
        height: 15px;
        display: block;
        float: right;
        width: 15px;
        border: 2px solid #888888;
        padding: 0px;
        margin-right: 9px;
        margin-top: 2px;

        .square-inner {
          background-color: $blue;
          display: block;
          width: 9px;
          height: 9px;
          margin: 1px;
        }
      }
    }
  }
}

.selected-item {

  background-color: $gray-darker;
  padding-bottom: 20px;
  h3{
    text-align: center;
    color: #aaaaaa;
  }

  img{
    padding: 15px;
    margin: auto;
  }

  p {
    max-width: 455px;
    margin: auto;
    padding: 15px;
    color: #aaaaaa;
  }

}


.ld-wrap{
  max-width: 800px;
  margin: 50px auto 80px;

  .ld-small-image-wrap {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;

    img{
      flex:1;
    }

  }
  .nav-tabs {
    background-color: $gray-darker;
    margin: 30px 0;
    li{
      text-align: center;
      margin: 0;
      padding: 0;
      border-right: thin solid $gray-dark;
      min-width: 33.3%;
      a:hover{
        background-color: $gray-darkest;
      }

    }
  }


}
