.header {

  overflow: hidden;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;

  nav {
    -moz-box-shadow: inset 0 -6px 10px -10px black;
    -webkit-box-shadow: inset 0 -6px 10px -10px black;
    box-shadow: inset 0 -6px 10px -10px black;
  }


  #last-header-item {
    border: none;
  }

  .navbar-brand {
    padding: 6px 0 0 0px;
    margin-left: -20px !important;
    img {
      max-height: 45px;
      margin-top: 4px;
    }
  }

  .header-spacer {
    padding: 0 15px;
    border-right: 1px solid rgba(237, 237, 237, 0.5);
  }

  #navbar {
    margin-left: 59px;
  }
  #cart {
    padding-left: 15px;
  }
}

#cart {
  position: absolute;
  top: 3px;
  right: 36px;
  z-index: 20000;
  font-size: 2em;
  display: block;
  width: 30px;
  a {
    color: $navbar-default-color;
    span {
      font-size: .4em;
      display: block;
      text-align: center;
    }
  }
  @media (max-width: $screen-sm) {
    display: none;
  }
}
