// Dependencies from Bower
@import '../../bower_components/bootstrap/scss/bootstrap';
@import '../../bower_components/components-font-awesome/scss/font-awesome';

// Tools
@import "toolbox";
@import "animate"; /* TODO remove unused animations */

// Site styling
@import "typography.scss";
@import "page.scss";
@import "header.scss";
@import "nav.scss";
@import "banner.scss";
@import "buttons";
@import "footer";
@import "product";
@import "modules";
@import "customize";
@import "forms";
@import "crew";
@import "support";

// Output to /styles/main.css
// Written by Adam Schlabach



