// adobe cooler color scheme: https://color.adobe.com/library/fac56dc0-5878-11e4-a450-097d1ac1998f/theme/cd2c310b-ad32-46fc-9c23-7260b4b01638/

$gray-lighter: #EDEDED;
$gray-light:#aaaaaa;
$gray-mid: #696969;
$gray-dark: #404145;
$gray-darker: #2B2C30;
$gray-darkest: #131315;


$blue: #19A4C5;

$default-link-color: $gray-lighter;
$default-link-hover-color: #8A8D93;


$link-color:$default-link-color;
$link-hover-color:$gray-light;


$navbar-default-bg: $gray-darker;
$navbar-default-color: $gray-lighter;
$navbar-default-brand-hover-color: #ffffff;
$navbar-default-link-color: $gray-lighter;
$navbar-default-link-active-color: #FFFFFF;
$navbar-default-link-active-bg: darken($navbar-default-bg, 3.5%);
$navbar-default-link-hover-color: #ffffff;
$navbar-default-toggle-border-color: $gray-lighter;
$navbar-default-toggle-icon-bar-bg: $gray-lighter;
$navbar-default-toggle-hover-bg: none;
$navbar-margin-bottom: 0;
$navbar-height: 60px;

$footer-link-color: #888888;

$nav-link-padding: 10px 0;
$body-bg: $gray-dark;
$text-color: $gray-lighter;

$btn-primary-bg: $gray-darker;
$border-radius-small: 0;
$border-radius-large: 0;
$border-radius-base: 0;

$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

$carousel-control-color: $gray-lighter;
$carousel-indicator-active-bg: $gray-lighter;

// form styles:
$input-bg: $gray-dark;
$input-color: $gray-mid;
$input-border: $gray-darker;
$input-color-placeholder: $gray-mid;


//// wizard pannel
$nav-tabs-border-color: none;
$nav-tabs-justified-active-link-border-color:none;
$nav-tabs-link-hover-border-color:none;
$nav-tabs-active-link-hover-border-color:none;
$nav-tabs-active-link-hover-bg:none;