<div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="mark in productDetailController.product.marks |filter:{ brand: markBrand }">
    <a ui-sref="customize({ productId : productDetailController.product.id, mark : mark.name, brand : mark.brand})" class="build-module">
        <h4>{{mark.name}}</h4>
        <h5>Starting at <strong>${{mark.price}}</strong></h5>
        <ul ng-repeat="spec in mark.specs">
            <li>{{spec.type}}: {{spec.name}}</li>
        </ul>
        <span>
            Customize <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </span>
    </a>
</div>