<section class="content-wrap">
    <div class="product-highlight">
        <img src="/public/images/products/phantom.png">
        <div class="product-title-wrap"><h1>Phantom</h1></div>
    </div>

    <div class="product-page-break" id="sticker">
        <span>ShadowRigs Phantom</span><a href="/">Customize this Rig</a>
    </div>

    <div class="content product-content">

        <section class="row clearfix product-row">
            <div class="container">
                <div class="col-lg-6 col-md-12 product-left product-desc">
                    <h2>Game with confidence</h2>
                    <p>The phantom is a capable and powerful gaming Rig.  The phantom gives you the tools you need  to dominate your opponents in any battlefield or arena you might play in. </p>
                </div>
                <div class="col-lg-6 col-md-12 product-right">
                    <img class="img-fluid" src="/public/images/product-page/phantom/DSC_0333.png" alt="DSC_0596" />
                </div>
            </div>
        </section>

        <section class="product-page-highlight-wrap" style="background:url('/public/images/product-page/sw-bf.jpg')">
            <div class="pph pph-left">
                <div class="product-left pph-desc">
                    <h2>Ultimate Performance</h2>
                    <p>Today’s high demand games require a powerful system. ShadowRigs takes pride in our capable hardware and robust overclocking in the PHANTOM to provide you with a dominant machine that will provide a stunningly smooth game play experience. </p>
                </div>
            </div>

        </section>

        <section class="row clearfix product-row">
            <div class="container">
                <div class="col-lg-6 col-md-12 product-left">
                    <img class="img-fluid" src="/public/images/product-page/phantom/DSC_0281.png" alt="DSC_0596" />
                </div>
                <div class="col-lg-6 col-md-12 product-right product-desc">
                    <h2>Room to grow</h2>
                    <p>The Phantom gives you a budget platform without sacrificing the room to upgrade your system down the road as you see fit. Add a second graphics card, upgrade your storage the choice is yours.</p>
                </div>
            </div>
        </section>

        <section class="row clearfix product-row">
            <div class="container">
                <div class="col-lg-6 col-md-12 product-left product-desc">
                    <h2>Pick your Platform</h2>
                    <p>Choose from the two leaders in the gaming. Intel or AMD it’s your choice.</p>
                </div>
                <div class="col-lg-6 col-md-12 product-right">
                    <img class="img-fluid" src="/public/images/product-page/phantom/Intel-or-amd.png" alt="DSC_0596" />
                </div>
            </div>
        </section>

        <section class="product-page-highlight-wrap" style="background:url('/public/images/product-page/division.jpg')">
            <div class="pph pph-right">
                <div class="product-right pph-desc">
                    <h2>Unmatched frame rate</h2>
                    <p>PC is the only platform that can offer high frame rates vs the leading console options. While many of today's games struggle to reach 30 FPS on consoles, the ShadowRigs PHANTOM can take you to 60 and far beyond, resulting in much smoother and impressive graphic fidelity.  </p>
                </div>
            </div>
        </section>

        <section class="row clearfix product-row">
            <div class="container">
                <div class="col-lg-6 col-md-12 product-left">
                    <img class="img-fluid" src="/public/images/product-page/phantom/DSC_0346-1.png" alt="DSC_0596" />
                </div>
                <div class="col-lg-6 col-md-12 product-right product-desc">
                    <h2>Exceptional build quality</h2>
                    <p>We take the time to ensure proper care has been taken to provide you with the best possible Rig. Build quality and cable management are extremely important to us as well as ensuring that your rig is running at its peak performance. All of our rigs go through a 72 hour burn in and stress test to ensure each rigs stability. Our rigs are also subjected to a rigorous quality control phase before leaving our facility.</p>
                </div>
            </div>
        </section>

        <div class="container gallery-wrap">

            <!-- need new gallery -->

        </div>

    </div>
</section>