<section class="content-wrap product-wrap">
    <div class="product-highlight">

        <img src="/public/images/products/spectre.png">
        <div class="product-title-wrap"><h1>Specter</h1></div>
    </div>

    <div class="product-page-break" sticky>
        <span>ShadowRigs Specter</span><a href="/">Customize this Rig</a>
    </div>

    <div class="content product-content">
        <div class="row clearfix product-row">
            <div class="container">
                <div class="col-lg-6 col-md-12 product-left">
                    <div class="product-desc">
                        <h2>Compact High Performance System</h2>
                        <p>The specter has enough room to handle today's top of the line graphics cards all while still having enough room for a closed loop CPU cooling solution.</p>
                    </div>

                </div>
                <div class="col-lg-6 col-md-12 product-right">
                    <img class="img-fluid" src="/public/images/product-page/specter/DSC_0596.jpg" alt="DSC_0596" />
                </div>
            </div>
        </div>

        <section class="product-page-highlight-wrap" style="background:url('/public/images/product-page/vr-elite.jpg')">
            <div class="pph pph-left">
                <div class="product-left pph-desc">
                    <h2>VR Ready</h2>
                    <p>Virtual Reality is here, today. The ShadowRigs SPECTER will let you achieve the next generation of immersive gaming with a new experience of sights, sounds and visuals. </p>
                </div>
            </div>
        </section>


        <div class="row clearfix product-row">
            <div class="container">
                <div class="col-lg-6 col-md-12 product-left">
                    <img class="img-fluid" src="/public/images/product-page/specter/DSC_0567.png" alt="DSC_0596" />
                </div>
                <div class="col-lg-6 col-md-12 product-right">
                    <div class="product-desc">
                        <h2>Intelligent air flow design</h2>
                        <p>Shadow rigs uses a positive pressure air flow design to keep your components cool while keeping the dust down so that you can game longer with less maintenance.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix product-row">
            <div class="container">
                <div class="col-lg-6 col-md-12 product-left">
                    <div class="product-desc">
                        <h2>Processing power On tap</h2>
                        <p>Whether your surfing the internet or entering the battlefield the latest 6th generation Skylake processors paired with the Z170 Chipset provide you with the power you need to stay on the cutting edge. We unlock the potential of theses processors so that you can take your game further.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 product-right">
                    <img class="img-fluid" src="/public/images/product-page/specter/Z170.png" alt="DSC_0596" />
                </div>
            </div>
        </div>

        <section class="product-page-highlight-wrap" style="background:url('/public/images/product-page/f2p-games.jpg')">
            <div class="pph pph-right">
                <div class="product-right pph-desc">
                    <h2>Free Games Library</h2>
                    <p>Free is a price point that agrees to everyone, and the best free games are on PC. Hundreds of popular titles are available through Valve's Steam, Blizzard's Battle.net and more. There's something for everyone's taste, which is another reason why a ShadowRig PC reigns over consoles.</p>
                </div>
            </div>
        </section>

        <div class="row clearfix product-row">
            <div class="container">
                <div class="col-lg-6 col-md-12 product-left">
                    <img class="img-fluid" src="/public/images/product-page/specter/DSC_0346-e1459476790196.png" alt="DSC_0596" />
                </div>
                <div class="col-lg-6 col-md-12 product-right">
                    <div class="product-desc">
                        <h2>Exceptional build quality</h2>
                        <p>We take the time to insure proper care has been taken to provide you with the best possible Rig. Cable management and build quality are extremely important to us as well as ensuring that your rig is running at its peak performance. All of our rigs go through a 72 hour burn in and stress test to ensure each rigs stability. Our rigs are also subjected to a rigorous quality control phase before leaving our facility.</p>
                    </div>
                </div>
            </div>
        </div>

        <section class="build-list">
            <div class="container">
                <div class="col-xs-12 col-sm-6 col-md-15">
                    <a href="#" class="build-module">
                        <h4>Mark 1</h4>
                        <h5>Starting at <strong>$1,156</strong></h5>
                        <ul>
                            <li>Intel core i3 6100</li>
                            <li>H80i Liquid CPU cooler</li>
                            <li>MSI Z170M Mortar</li>
                            <li>8 GB Ram</li>
                            <li>120 GB Samsung SSD</li>
                            <li>Nvidia GTX 960</li>
                            <li>Corsair 350D Case</li>
                            <li>550W Gold PSU</li>
                            <li>Windows 10 Home edition </li>
                        </ul>
                        <span>
                            Customize <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-15">
                    <a href="#" class="build-module">
                        <h4>Mark 2</h4>
                        <h5>Starting at <strong>$1,572</strong></h5>
                        <ul>
                            <li>Intel core i5 6600K</li>
                            <li>H100i GTX Liquid CPU cooler</li>
                            <li>MSI Z170M Mortar</li>
                            <li>16 GB Ram</li>
                            <li>250 GB Samsung SSD</li>
                            <li>Nvidia GTX 970</li>
                            <li>Corsair 350D Case</li>
                            <li>650W Gold PSU</li>
                            <li>Windows 10 Home edition </li>
                        </ul>
                        <span>
                            Customize <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-15">
                    <a href="#" class="build-module">
                        <h4>Mark 3</h4>
                        <h5>Starting at <strong>$1,911</strong></h5>
                        <ul>
                            <li>Intel core i5 6600K</li>
                            <li>H100i GTX Liquid CPU cooler</li>
                            <li>ASUS Maximus VIII</li>
                            <li>16 GB Ram</li>
                            <li>250 GB Samsung SSD</li>
                            <li>Nvidia GTX 980</li>
                            <li>Corsair 350D Case</li>
                            <li>650W Gold PSU</li>
                            <li>Windows 10 Home edition </li>
                        </ul>
                        <span>
                            Customize <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-15">
                    <a href="#" class="build-module">
                        <h4>Mark 4</h4>
                        <h5>Starting at <strong>$2,463</strong></h5>
                        <ul>
                            <li>Intel core i7 6700K</li>
                            <li>H100i GTX Liquid CPU cooler</li>
                            <li>ASUS Maximus VIII</li>
                            <li>32 GB Ram</li>
                            <li>500 GB Samsung SSD</li>
                            <li>Nvidia GTX 980Ti</li>
                            <li>Corsair 350D Case</li>
                            <li>750W Gold PSU</li>
                            <li>Windows 10 Home edition </li>
                        </ul>
                        <span>
                            Customize <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-15">
                    <a href="#" class="build-module">
                        <h4>Mark 5</h4>
                        <h5>Starting at <strong>$3,371</strong></h5>
                        <ul>
                            <li>Intel core i7 6700K</li>
                            <li>H100i GTX Liquid CPU cooler</li>
                            <li>ASUS Maximus VIII</li>
                            <li>32 GB Ram</li>
                            <li>500 GB Samsung SSD</li>
                            <li>Nvidia GTX 980Ti</li>
                            <li>Nvidia GTX 980Ti</li>
                            <li>Two-way SLI</li>
                            <li>Corsair 350D Case</li>
                            <li>1000W Gold PSU</li>
                            <li>Windows 10 Home edition </li>
                        </ul>
                        <span>
                            Customize <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </div>
        </section>

    </div>
</section>