<!-- needs dynamic class add/remove with class 'cn-active' -->

<div class="row">
    <a href="/#/customize/#makeityours" class="col-xs-6 col-md-6 col-lg-3 cn-active">
        <h3>Make it Yours</h3>
    </a>
    <a href="/#/customize/#performance" class="col-xs-6 col-md-6 col-lg-3">
        <h3>Performance Options</h3>
    </a>
    <div class="clearfix hidden-md-up"></div>
    <a href="/#/customize/#storage" class="col-xs-6 col-md-6 col-lg-3">
        <h3>Storage and Optical</h3>
    </a>
    <a href="/#/customize/accessories" class="col-xs-6 col-md-6 col-lg-3">
        <h3>Accessories</h3>
    </a>
</div>