<section class="cp-summary">
    <h2 class="cps-summary-title">PHANTOM</h2>
    <ul class="cps-list">
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Stage One Overclocking Included</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Rigorous Stress Testing</li>
    </ul>
    <div class="cps-delivery"><h3>EST. Delivery:</h3><span>10-15 Business Days</span></div>
    <div class="cps-total"><h3>Total:</h3><span>$1,500</span></div>
    <p><a href="">Email us about this build</a></p>
    <a href="#" class="cps-add-to-cart">Add to Cart</a>
</section>