<h3 class="cpm-title">Operating System</h3>
<ul class="cpm-list">
    <li ng-repeat="os in customizeController.rig.osOptions.items"
        ng-init="itemId=customizeController.slugify(os.name);">
        <div class="cpm-inner">
            <div class="cpm-radio-wrap">
                <input type="radio" name="os.name" id="{{itemId}}"
                       ng-model="customizeController.rig.osOptions.current"
                       ng-value="os">
            </div>
            <div class="cpm-item-wrap">
                <h4>{{os.name}}</h4>
                <p>{{os.shortDescription}}</p>
                <span class="cpm-price">
                        {{os.priceDiff > 0 ? '+' : ''}}{{os.priceDiff | currency}}
                </span>
            </div>

        </div>
        <a class="cpm-expand-desc">
            <i class="fa fa-chevron-circle-right" aria-hidden="true" ng-click="cpmos1 = !cpmos1"
               ng-class="cpmos1 ? 'cpm-expand-desc-active' : 'default'"></i>
        </a>

        <div class="cpm-description" ng-class="cpmos1 ? 'cpm-desc-open' : 'cpm-desc-hide'">
            <div class="row">
                <div class="col-md-4">
                    <a href="http://cdn.shadowrigs.com/images/SOFTWARE/{{os.fullImageLink}}">
                       <img ng-src="http://cdn.shadowrigs.com/images/SOFTWARE/{{os.coverImage}}">
                    </a>
                </div>
                <div class="col-md-9" ng-show="os.longDescription">
                    <p>{{os.longDescription}}</p>
                </div>
            </div>

            <!--<div class="row" ng-show="cpu.options.length">
                <div class="col-xs-4 col-md-2" ng-repeat="option in cpu.options">
                    <a href="#" class="cpm-color"></a>
                    <p>{{option.name}}</p>
                </div>
            </div>-->
        </div>
    </li>
</ul>
