<h3 class="cpm-title">m.2 Solid State Drives</h3>
<ul class="cpm-list">
    <li ng-repeat="ssdM2 in customizeController.rig.storageM2Options.items"
        ng-init="itemId=customizeController.slugify(ssdM2.$$hashKey);">
        <label for="{{itemId}}" class="cpm-inner">
            <div class="cpm-radio-wrap">
                <input type="radio" name="ssdM2.name" id="{{itemId}}"
                       ng-model="customizeController.rig.storageM2Options.current"
                       ng-value="ssdM2">
            </div>
            <div class="cpm-item-wrap">
                <h4>{{ssdM2.name}}</h4>
                <p>{{ssdM2.shortDescription}}</p>
                <span class="cpm-price">
                        {{ssdM2.priceDiff > 0 ? '+' : ''}}{{ssdM2.priceDiff | currency}}
                </span>
            </div>

        </label>
        <a class="cpm-expand-desc">
            <i class="fa fa-chevron-circle-right" aria-hidden="true" ng-click="cpmm21 = !cpmm21"
               ng-class="cpmm21 ? 'cpm-expand-desc-active' : 'default'"></i>
        </a>

        <div class="cpm-description" ng-class="cpmm21 ? 'cpm-desc-open' : 'cpm-desc-hide'">
            <div class="row">
              <div class="col-md-4">
                      <img ng-click="openImageModal('http://cdn.shadowrigs.com/images/STORAGE/M2/' + ssdM2.fullImageLink)" ng-src="http://cdn.shadowrigs.com/images/STORAGE/M2/{{ssdM2.coverImage}}">
              </div>
                <div class="col-md-8" ng-show="ssdM2.longDescription">
                    <p>{{ssdM2.longDescription}}</p>
                </div>
            </div>

            <!--<div class="row" ng-show="cpu.options.length">
                <div class="col-xs-4 col-md-2" ng-repeat="option in cpu.options">
                    <a href="#" class="cpm-color"></a>
                    <p>{{option.name}}</p>
                </div>
            </div>-->
        </div>
    </li>
</ul>
