<h3 class="cpm-title">Solid State Drives</h3>
<ul class="cpm-list">
    <li ng-repeat="ssd in customizeController.rig.storageSsdOptions.items"
        <div class="cpm-inner">
            <div class="cpm-radio-wrap">
                <input type="radio" name="ssd.name" id="{{itemId}}"
                       ng-model="customizeController.rig.storageSsdOptions.current"
                       ng-value="ssd ">
            </div>
            <div class="cpm-item-wrap">
                <h4>{{ssd.name}}</h4>
                <p>{{ssd.shortDescription}}</p>
                <span class="cpm-price">
                    + {{ssd.price | currency}}
                </span>
            </div>

        </div>
        <a class="cpm-expand-desc">
            <i class="fa fa-chevron-circle-right" aria-hidden="true" ng-click="cpmssd1 = !cpmssd1"
               ng-class="cpmssd1 ? 'cpm-expand-desc-active' : 'default'"></i>
        </a>

        <div class="cpm-description" ng-class="cpmssd1 ? 'cpm-desc-open' : 'cpm-desc-hide'">
            <div class="row">
                <div class="col-md-4">
                    <a href="http://cdn.shadowrigs.com/images/STORAGE/SSD/{{ssd.fullImageLink}}">
                        <img ng-src="http://cdn.shadowrigs.com/images/STORAGE/SSD/{{ssd.coverImage}}">
                    </a>
                </div>
                <div class="col-md-8" ng-show="ssd.longDescription">
                    <p>{{ssd.longDescription}}</p>
                </div>
            </div>

            <!--<div class="row" ng-show="cpu.options.length">
                <div class="col-xs-4 col-md-2" ng-repeat="option in cpu.options">
                    <a href="#" class="cpm-color"></a>
                    <p>{{option.name}}</p>
                </div>
            </div>-->
        </div>
    </li>
</ul>
