<h3 class="cpm-title">Graphics</h3>
<ul class="cpm-list">
    <li ng-repeat="graphics in customizeController.rig.performanceGraphicsOptions.items"
        ng-init="itemId=customizeController.slugify(graphics.name);">
        <label for="{{itemId}}" class="cpm-inner">
            <div class="cpm-radio-wrap">
                <input type="radio" name="graphics.name" id="{{itemId}}"
                       ng-model="customizeController.rig.performanceGraphicsOptions.current"
                       ng-value="graphics">
            </div>
            <div class="cpm-item-wrap">
                <h4>{{graphics.name}}</h4>
                <p>{{graphics.shortDescription}}</p>
                <span class="cpm-price">
                    + {{graphics.price | currency}}
                </span>
            </div>

        </label>
        <a class="cpm-expand-desc">
            <i class="fa fa-chevron-circle-right" aria-hidden="true" ng-click="cpmgfx1 = !cpmgfx1"
               ng-class="cpmgfx1 ? 'cpm-expand-desc-active' : 'default'"></i>
        </a>

        <div class="cpm-description" ng-class="cpmgfx1 ? 'cpm-desc-open' : 'cpm-desc-hide'">
            <div class="row">
                <div class="col-md-4">
                    <a href="http://cdn.shadowrigs.com/images/GPU/{{graphics.fullImageLink}}">
                        <img ng-src="http://cdn.shadowrigs.com/images/GPU/{{graphics.coverImage}}">
                    </a>
                </div>
                <div class="col-md-8" ng-show="graphics.longDescription">
                    <p>{{graphics.longDescription}}</p>
                </div>
            </div>

            <!--<div class="row" ng-show="cpu.options.length">
                <div class="col-xs-4 col-md-2" ng-repeat="option in cpu.options">
                    <a href="#" class="cpm-color"></a>
                    <p>{{option.name}}</p>
                </div>
            </div>-->
        </div>
    </li>
</ul>
