<h3 class="cpm-title">System Cooling</h3>
<ul class="cpm-list">
    <li ng-repeat="syscooling in customizeController.rig.performanceCoolingOptions.items"
        ng-init="itemId=customizeController.slugify(syscooling.name);">
        <label for="{{itemId}}" class="cpm-inner">
            <div class="cpm-radio-wrap">
                <input type="radio" name="syscooling.name" id="{{itemId}}"
                       ng-model="customizeController.rig.performanceCoolingOptions.current"
                       ng-value="syscooling">
            </div>
            <div class="cpm-item-wrap">
                <h4>{{syscooling.name}}</h4>
                <p>{{syscooling.shortDescription}}</p>
                <span class="cpm-price">
                    + {{syscooling.price | currency}}
                </span>
            </div>
        </label>
        <a class="cpm-expand-desc">
            <i class="fa fa-chevron-circle-right" aria-hidden="true" ng-click="cpmsc1 = !cpmsc1"
               ng-class="cpmsc1 ? 'cpm-expand-desc-active' : 'default'"></i>
        </a>

        <div class="cpm-description" ng-class="cpmsc1 ? 'cpm-desc-open' : 'cpm-desc-hide'">
            <div class="row">
                <div class="col-md-3">
                    <img src="http://placehold.it/150x150">
                </div>
                <div class="col-md-9" ng-show="syscooling.longDescription">
                    <p>{{syscooling.longDescription}}</p>
                </div>
            </div>

            <!--<div class="row" ng-show="cpu.options.length">
                <div class="col-xs-4 col-md-2" ng-repeat="option in cpu.options">
                    <a href="#" class="cpm-color"></a>
                    <p>{{option.name}}</p>
                </div>
            </div>-->
        </div>
    </li>
</ul>