<!-- <div class="container products-wrap" ng-class="{{pageClass}}">
    <div class="row">
    <h1>Our Products</h1>
        <div class="col-lg-6 col-sm-6 col-xs-12 product-item" ng-repeat="category in categories">
            <a ng-href="#/products/{{category.shortName}}">
                <h3>{{category.name}}</h3>
                <img ng-src="{{category.coverImage}}" class="img-responsive">
            </a>

            <a ng-href="#/customize/{{category.shortName}}">
                <div class="btn btn-primary">Customize</div>
            </a>

        </div>
    </div>
</div> -->

<section class="content-wrap">
    <div class="product-main-highlight">

        <div class="product-title-wrap">
            <h1 class="animated fadeInDown">Choose Your Rig</h1>
            <h2 class="animated fadeInUp">View our selection of powerful Gaming Desktops. Small form to full tower, Fully Customizable. </h2>

        </div>


    </div>

    <div class="product-page-break" id="sticker">
        <a href="#/customize/">Customize A Rig</a>
    </div>





    <div class="content page-content product-content">
        <div class="container">


            <section class="product-landing-wrap pl-gaming">
                <h2>Gaming PCs</h2>
                <div class="row">
                    <div class="col-md-3">
                        <h3>Phantom</h3>
                        <p>Brief Description</p>
                    </div>
                    <div class="col-md-3">
                        <h3>Shade</h3>
                        <p>Brief Description</p>
                    </div>
                    <div class="col-md-3">
                        <h3>Specter</h3>
                        <p>Brief Description</p>
                    </div>
                    <div class="col-md-3">
                        <h3>Wraith</h3>
                        <p>Brief Description</p>
                    </div>
                </div>
                <div class="row pl-expanded-desc">
                    <h4>Our Powerful Gaming Line-up</h4>
                    <p>
                        blah blah
                    </p>
                </div>
            </section><!-- end product-landing pl-gaming -->

            <section class="product-landing-wrap pl-htpc">
                <h2>HTPCS</h2>
                <div class="row">
                    <div class="col-md-4">
                        <h3>Option 1</h3>
                        <p>Brief Description</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Option 2</h3>
                        <p>Brief Description</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Option 3</h3>
                        <p>Brief Description</p>
                    </div>

                </div>
                <div class="row pl-expanded-desc">
                    <h4>Our Powerful HTPC Line-up</h4>
                    <p>
                        blah blah
                    </p>
                </div>
            </section><!-- end product-landing pl-htpc -->

            <section class="product-landing-wrap pl-workstation">
                <h2>Workstations</h2>
                <div class="row">
                    <div class="col-md-4">
                        <h3>Option 1</h3>
                        <p>Brief Description</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Option 2</h3>
                        <p>Brief Description</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Option 3</h3>
                        <p>Brief Description</p>
                    </div>

                </div>
                <div class="row pl-expanded-desc">
                    <h4>Robust Workstation</h4>
                    <p>
                        blah blah
                    </p>
                </div>
            </section><!-- end product-landing pl-workstation -->

            <section class="product-landing-wrap pl-laptops">
                <h2>Laptops</h2>
                <div class="row">
                    <div class="col-md-4">
                        <h3>Option 1</h3>
                        <p>Brief Description</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Option 2</h3>
                        <p>Brief Description</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Option 3</h3>
                        <p>Brief Description</p>
                    </div>

                </div>
                <div class="row pl-expanded-desc">
                    <h4>Laptops</h4>
                    <p>
                        blah blah
                    </p>
                </div>
            </section><!-- end product-landing pl-laptops -->


            <!-- maybe use I don't know yet
            <section class="product-landing-wrap pl-gaming">
                <div class="row">
                    <div class="col-md-3 product-module product-landing-image">
                        product image carousel?
                    </div><!-- end product-image -->
                    <!-- <div class="col-md-9 product-landing-desc">
                        <h2>Gaming PCs</h2>
                        <span><a href="">Phantom</a>, <a href="">Shade</a>, <a href="">Specter</a>, <a href="">Wraith</a></span>
                        <p>Blah Blah</p>
                    </div><!-- end product-landing-desc -->
                <!--</div><!-- end row -->
            <!--</section><!-- end product-landing-gaming -->





            <!-- will be removed
            <div class="col-xl-6 col-sm-12">
                <a href="#/products/gaming/phantom" class="product-module-list">
                    <img src="/public/images//products/phantom.png" class="img-fluid">
                    <h2>Phantom</h2>
                    <p>Some text or something in regards and maybe relating to this individual product.</p>
                </a>
                <div class="product-expanded-module">
                    <h3>ShadowRigs Phantom</h3>
                    <h4>SPECS AT-A-GLANCE</h4>
                    <h5>AMD Mark 1</h5>
                    <ul>
                        <li>CPU: AMD FX-6300</li>
                        <li>GPU: NVIDIA GTX 950</li>
                        <li>RAM: 8GB</li>
                    </ul>
                    <h5>AMD Mark 2</h5>
                    <ul>
                        <li>CPU: AMD FX-8350</li>
                        <li>GPU: NVIDIA GTX 960</li>
                        <li>RAM: 16GB</li>
                    </ul>
                    <h5>AMD Mark 3</h5>
                    <ul>
                        <li>CPU: AMD FX-9590</li>
                        <li>GPU: NVIDIA GTX 970</li>
                        <li>RAM: 32GB</li>
                    </ul>
                    <h5>Intel Mark 1</h5>
                    <ul>
                        <li>CPU: Intel i3-4170</li>
                        <li>GPU: NVIDIA GTX 960</li>
                        <li>RAM: 8GB</li>
                    </ul>
                    <h5>Intel Mark 2</h5>
                    <ul>
                        <li>CPU: Intel i5-4690K</li>
                        <li>GPU: NVIDIA GTX 970</li>
                        <li>RAM: 16GB</li>
                    </ul>
                    <h5>Intel Mark 3</h5>
                    <ul>
                        <li>CPU: Intel i5-4790K</li>
                        <li>GPU: NVIDIA GTX 980</li>
                        <li>RAM: 32GB</li>
                    </ul>
                    <a href="#/customize/">Customize <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="col-xl-6 col-sm-12">
                <a href="#/products/gaming/specter" class="product-module-list">
                    <img src="/public/images//products/main-specter.png" class="img-fluid">
                    <h2>Specter</h2>
                    <p>Some text or something in regards and maybe relating to this individual product.</p>
                </a>
                <div class="product-expanded-module">
                    <h3>ShadowRigs Specter</h3>
                    <h4>SPECS AT-A-GLANCE</h4>
                    <h5>Mark 1</h5>
                    <ul>
                        <li>CPU: Intel i3 6100</li>
                        <li>GPU: NVIDIA GTX 960</li>
                        <li>RAM: 8GB 3000MHz</li>
                    </ul>
                    <h5>Mark 2</h5>
                    <ul>
                        <li>CPU: Intel i5 6600k</li>
                        <li>GPU: NVIDIA GTX 970</li>
                        <li>RAM: 16GB</li>
                    </ul>
                    <h5>Mark 3</h5>
                    <ul>
                        <li>CPU: Intel i5 6600k</li>
                        <li>GPU: NVIDIA GTX 980</li>
                        <li>RAM: 16GB</li>
                    </ul>
                    <h5>Mark 4</h5>
                    <ul>
                        <li>CPU: Intel i7 6700k</li>
                        <li>GPU: NVIDIA GTX 980Ti</li>
                        <li>RAM: 32GB</li>
                    </ul>
                    <h5>Mark 5</h5>
                    <ul>
                        <li>CPU: Intel i7 6700k</li>
                        <li>GPU: NVIDIA GTX 980Ti x2 SLI</li>
                        <li>RAM: 32GB</li>
                    </ul>
                    <a href="#/customize/">Customize <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="col-xl-6 col-sm-12">
                <a href="#/products/gaming/shade" class="product-module-list">
                    <img src="/public/images//products/main-shade.png" class="img-fluid">
                    <h2>Shade</h2>
                    <p>Some text or something in regards and maybe relating to this individual product.</p>
                </a>
                <div class="product-expanded-module">
                    <h3>ShadowRigs Shade</h3>
                    <h4>TECH SPECS</h4>
                    <h5>Mark 1</h5>
                    <ul>
                        <li>CPU: Intel i5 6600k</li>
                        <li>GPU: NVIDIA GTX 970</li>
                        <li>RAM: 16GB</li>
                    </ul>
                    <h5>Mark 2</h5>
                    <ul>
                        <li>CPU: Intel i5 6600k</li>
                        <li>GPU: NVIDIA GTX 980</li>
                        <li>RAM: 16GB</li>
                    </ul>
                    <h5>Mark 3</h5>
                    <ul>
                        <li>CPU: Intel i5 6700k</li>
                        <li>GPU: NVIDIA GTX 980Ti</li>
                        <li>RAM: 32GB</li>
                    </ul>
                    <h5>Mark 4</h5>
                    <ul>
                        <li>CPU: Intel i7 6700k</li>
                        <li>GPU: NVIDIA GTX 980 x2 SLI</li>
                        <li>RAM: 32GB</li>
                    </ul>
                    <h5>Mark 5</h5>
                    <ul>
                        <li>CPU: Intel i7 6700k</li>
                        <li>GPU: NVIDIA GTX 980Ti x2 SLI</li>
                        <li>RAM: 32GB</li>
                    </ul>
                    <a href="#/customize/">Customize <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="col-xl-6 col-sm-12">
                <a href="#/products/gaming/wraith" class="product-module-list">
                    <img src="/public/images//products/main-wraith.png" class="img-fluid">
                    <h2>Wraith</h2>
                    <p>Some text or something in regards and maybe relating to this individual product.</p>
                </a>
                <div class="product-expanded-module">
                    <h3>ShadowRigs Wraith</h3>
                    <h4>TECH SPECS</h4>
                    <h5>Mark 1</h5>
                    <ul>
                        <li>CPU: Intel i7 5820k</li>
                        <li>GPU: NVIDIA GTX 980</li>
                        <li>RAM: 16GB</li>
                    </ul>
                    <h5>Mark 2</h5>
                    <ul>
                        <li>CPU: Intel i7 5820k</li>
                        <li>GPU: NVIDIA GTX 980</li>
                        <li>RAM: 16GB</li>
                    </ul>
                    <h5>Mark 3</h5>
                    <ul>
                        <li>CPU: Intel i7 5930k</li>
                        <li>GPU: NVIDIA GTX 980 x2 SLI</li>
                        <li>RAM: 32GB</li>
                    </ul>
                    <h5>Mark 4</h5>
                    <ul>
                        <li>CPU: Intel i7 5930k</li>
                        <li>GPU: NVIDIA GTX 980Ti x2 SLI</li>
                        <li>RAM: 32GB</li>
                    </ul>
                    <h5>Mark 5</h5>
                    <ul>
                        <li>CPU: Intel i7 5960x</li>
                        <li>GPU: NVIDIA GTX 980Ti x3 SLI</li>
                        <li>RAM: 64GB</li>
                    </ul>
                    <a href="#/customize/">Customize <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <!-- end remove -->


        </div><!-- end container -->
    </div><!-- end content page-content product-content -->
</section><!-- end content-wrap-->