<section class="content-wrap product-wrap">
    <div ng-include="'app/product/partials/product-header.html'"></div>
    <div class="content product-content">
        <div class="row clearfix product-row">
            <div class="container">
                <div class="col-lg-6 col-md-12 product-left">
                    <div class="product-desc">
                        <h2>Next Level Gaming</h2>
                        <p>The Shade is one of our most advanced platforms. Utilizing Intel’s Z170 Chipset in conjunction with the most advanced Graphics cards on the market aimed at gamers that want that premium experience. </p>
                    </div>

                </div>
                <div class="col-lg-6 col-md-12 product-right">
                    <img class="img-fluid" src="/public/images/product-page/shade/shade-1.jpg" alt="DSC_0596" />
                </div>
            </div>
        </div>


        <section class="product-page-highlight-wrap" style="background:url('/public/images/product-page/f2p-games.jpg')">

            <div class="pph pph-right">
                <div class="product-right pph-desc">
                    <h2>Free Games Library</h2>
                    <p>Free is a price point that agrees to everyone, and the best free games are on PC. Hundreds of popular titles are available through Valve's Steam, Blizzard's Battle.net and more. There's something for everyone's taste, which is another reason why a ShadowRig PC reigns over consoles.</p>
                </div>
            </div>

        </section>




        <div class="row clearfix product-row">
            <div class="container">
                <div class="col-lg-6 col-md-12 product-left">
                    <img class="img-fluid" src="/public/images/product-page/shade/shade-2.jpg" alt="DSC_0596" />
                </div>
                <div class="col-lg-6 col-md-12 product-right">
                    <div class="product-desc">
                        <h2>Processing power On tap</h2>
                        <p>Whether your surfing the internet or entering the battlefield the latest 6th generation Skylake  processors paired with the Z170 Chipset provide you with the power you need to stay on the cutting edge. We unlock the potential of theses processors so that you can take your game further.</p>
                    </div>
                </div>
            </div>
        </div>




        <section class="product-page-highlight-wrap" style="background:url('/public/images/product-page/vr-elite.jpg')">
            <div class="pph pph-left">
                <div class="product-left pph-desc">
                    <h2>Virtual Reality</h2>
                    <p>Virtual Reality is here, today. The ShadowRigs SPECTER will let you achieve the next generation of immersive gaming with a new experience of sights, sounds and visuals. </p>
                </div>
            </div>
        </section>


        <div class="row clearfix product-row">
            <div class="container">
                <div class="col-lg-6 col-md-12 product-left">
                    <div class="product-desc">
                        <h2>VR Ready</h2>
                        <p>The Shade’s base configuration is ready to take you into the next-generation of gaming for the ultimate immersive virtual reality Experience. Immersive VR requires seven times the graphics processing power of traditional 3D apps and games. NVIDIA’s unique set of features—such as multi-res shading—mean you get the right level of performance, image quality, and latency to ensure your VR experience is nothing short of amazing.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 product-right">
                    <img class="img-fluid" src="/public/images/product-page/shade/shade-3.png" alt="DSC_0596" />
                </div>
            </div>
        </div>





        <div class="row clearfix product-row">
            <div class="container">
                <div class="col-lg-6 col-md-12 product-left">
                    <img class="img-fluid" src="/public/images/product-page/shade/shade-4.png" alt="DSC_0596" />
                </div>
                <div class="col-lg-6 col-md-12 product-right">
                    <div class="product-desc">
                        <h2>Live streaming</h2>
                        <p>This rig is perfect for live streaming any game. The Shade has the power to take you and your games to the people. Connect with your viewers while providing them with 60 frames per second and great graphic quality. Start growing your community today.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix product-row">
            <div class="container">
                <div class="col-lg-6 col-md-12 product-left">
                    <div class="product-desc">
                        <h2>Quiet & Cool</h2>
                        <p>The Shades sleek design is perfect for maximizing airflow and maintaining that negative pressure needed to keep your rig running quiet and cool. The strategically placed intakes and outputs of the Shade make sure that your core components will run better for longer.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 product-right">
                    <img class="img-fluid" src="/public/images/product-page/shade/shade-5.jpg" alt="DSC_0596" />
                </div>
            </div>
        </div>

        <section class="build-list">
            <div class="container">
                <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="mark in product.marks">
                    <a href="#" ng-click="customize(product, $event)" class="build-module">
                        <h4>{{mark.name}}</h4>
                        <h5>Starting at <strong>${{mark.price}}</strong></h5>
                        <ul ng-repeat="spec in mark.specs">
                            <li>{{spec.type}}: {{spec.name}}</li>
                        </ul>
                        <span>
                            Customize <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </div>
        </section>

    </div>
</section>
