<section class="content-wrap product-wrap">
    <div ng-include="'app/product/partials/product-header.html'"></div>
    <div class="content product-content">
        <section class="row clearfix product-row">
            <div class="container">
                <div class="col-lg-6 col-md-12 product-left product-desc">
                    <h2>X99 Chipset</h2>
                    <p>With the X99 chipset in our Wraith build you unlock the fury of the most powerful chipset. Gaming with X99 is like no other. Whether you are a gamer or into content creation, the unmatched performance of this platform is right for you. X99 is packed with features that max performance and capabilities for overclocking and gaming. </p>
                </div>
                <div class="col-lg-6 col-md-12 product-right">
                    <img class="img-fluid" src="/public/images/product-page/wraith/wraith-1.jpg" alt="DSC_0596" />
                </div>
            </div>
        </section>

        <section class="product-page-highlight-wrap" style="background:url('/public/images/product-page/sw-bf.jpg')">
            <div class="pph pph-left">
                <div class="product-left pph-desc">
                    <h2>Ultimate Performance</h2>
                    <p>Today’s high demand games require a powerful system. ShadowRigs takes pride in our capable hardware and robust overclocking in the PHANTOM to provide you with a dominant machine that will provide a stunningly smooth game play experience. </p>
                </div>
            </div>

        </section>

        <section class="row clearfix product-row">
            <div class="container">
                <div class="col-lg-6 col-md-12 product-left">
                    <img class="img-fluid" src="/public/images/product-page/wraith/wraith-2.jpg" alt="DSC_0596" />
                </div>
                <div class="col-lg-6 col-md-12 product-right product-desc">
                    <h2>Dark Fusion</h2>
                    <p>Using our Dark Fusion liquid coolant and superior cooling engineering will have you play longer and harder than your enemy. The way that Shadow Rigs designs the flow of our Dark Fusion is optimized for maximum heat transfer. The next best thing to cheetah blood.</p>
                </div>
            </div>
        </section>

        <section class="product-page-highlight-wrap" style="background:url('/public/images/product-page/division.jpg')">

            <div class="pph pph-right">
                <div class="product-right pph-desc">
                    <h2>Unmatched frame rate</h2>
                    <p>PC is the only platform that can offer high frame rates vs the leading console options. While many of today's games struggle to reach 30 FPS on consoles, the ShadowRigs PHANTOM can take you to 60 and far beyond, resulting in much smoother and impressive graphic fidelity.  </p>
                </div>
            </div>

        </section>

        <section class="row clearfix product-row">
            <div class="container">
                <div class="col-lg-6 col-md-12 product-left product-desc">
                    <h2>4K Gaming</h2>
                    <p>Its here and it’s the future. The Wraith gives you the power to dominate your opponents in 4k. With smaller pixels the beauty of 4k gaming is evident. With higher resolution that means more detailed graphics and sharper images.</p>
                </div>
                <div class="col-lg-6 col-md-12 product-right">
                    <img class="img-fluid" src="/public/images/product-page/wraith/wraith-3.png" alt="DSC_0596" />
                </div>
            </div>
        </section>


        <section class="row clearfix product-row">
            <div class="container">
                <div class="col-lg-6 col-md-12 product-left">
                    <img class="img-fluid" src="/public/images/product-page/wraith/wraith-4.png" alt="DSC_0596" />
                </div>
                <div class="col-lg-6 col-md-12 product-right product-desc">
                    <h2>Live streaming </h2>
                    <p>This rig is perfect for live streaming any game. The Wraith has the power to take you and your games to the people. Connect with your viewers while providing them with 60 frames per second and great graphic quality. Start growing your community today</p>
                </div>
            </div>
        </section>


        <section class="build-list">
            <div class="container" ng-include="'app/product/partials/product-marks.html'"> </div>
        </section>
    </div>
</section>

