<section class="mid-wrap">

    <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="8000">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">

            <div class="carousel-item active">
                <div class="carousel-item-inner full-size-img" style="background-image:url(/public/images/slides/homepage-10.jpg)">
                    <div class="carousel-title carousel-title-left animated fadeInLeftBig">Shadow Rigs<span>Gaming Desktops</span></div>
                    <div class="carousel-title carousel-title-right animated fadeInRightBig">Shadow Rigs<span>Workstations</span></div>
                    <div class="carousel-caption animated slideInUp">
                        <h2 class="h1">The Best of Both Worlds</h2>
                        <span class="breaker-gradient"></span>
                        <p>All components that go into shadow rigs have been rigorously vetted and tested to provide you with the best performance and reliability, no compromises.</p>

                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="carousel-item-inner full-size-img" style="background-image:url(/public/images/slides/homepage-06.jpg)">

                    <div class="carousel-header animated fadeInDown">Dark Fusion<span>Superior heat transfer</span></div>

                    <div class="carousel-caption caption-dark animated fadeInUp">
                        <h2 class="h1">Dark Fusion</h2>
                        <span class="breaker-gradient"></span>
                        <p>Dark Fusion cooling is designed specifically to give you the best possible cooling performance by dispersing heat from one component before moving to the next component in your cooling system</p>

                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="carousel-item-inner full-size-img">
                    <div class="carousel-item-inner full-size-img" style="background-image:url(/public/images/slides/homepage-07.jpg)">
                        <div class="carousel-header animated fadeInDown">Stage one overclocking<span>on the house</span></div>
                        <div class="carousel-caption caption-dark animated fadeInUp">
                            <h2 class="h1">Exceptional Performance</h2>
                            <span class="breaker-gradient"></span>
                            <p>We unlock the hidden power within your rig. Our high performance closed loop liquid cooling takes you to the next level for an ultimate gaming experience.</p>

                        </div>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                <span class="icon-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                <span class="icon-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section>