<div class="container contact-form-wrap">
    <h1>Contact</h1>

    <form>
        <div class="col-sm-6 col-sm-offset-3 form-group">
            <input type="text" class="form-control" placeholder="Your Name">
        </div>
        <div class="col-sm-6 col-sm-offset-3 form-group ">
            <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="col-sm-6 col-sm-offset-3 form-group">
            <textarea class="form-control" rows="6">Message</textarea>
        </div>
        <div class="col-sm-6 col-sm-offset-3 form-group">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
</div>