<section class="customize-product-top">
    <div class="container">
        <div class="col-md-8 col-sm-12 cp-product-img">
            <img src="/public/images/products/{{product.coverImage}}">

            <!-- needs dynamic class add/remove with class 'cn-active' -->
            <nav ng-include="'app/partials/customize/nav.html'" class="customize-nav" sticky media-query="min-width: 62em"></nav>

            <a name="makeityours"></a>
            <h2 class="cp-breaker-title">Make it Yours</h2>

            <section class="cp-module case-options"><!-- dynamic class per section -->
                <h3 class="cpm-title">Case Options</h3>
                <ul class="cpm-list cpm-horz row">

                    <li class="col-md-4" ng-repeat="case in cases">
                        <a class="cpm-inner" href="#">
                            <div class="cpm-item-wrap">
                                <img src="/public/images/products/{{product.coverImage}}">
                                <h4>{{case.name}}</h4>
                                <p>{{case.blobDescription}}</p>
                                    <span class="cpm-price">
                                        + $ {{case.price}}
                                    </span>
                            </div>
                        </a>
                        <div class="cpm-radio-wrap">
                            <input type="radio">
                        </div>
                    </li>
                </ul>
            </section>


            <!-- This Module is closest to what final structure will be -->
            <section class="cp-module case-cooling-options"> <!-- dynamic class per section -->
                <h3 class="cpm-title">Case Cooling Options</h3>
                <ul class="cpm-list">

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio" class="radio-custom">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>Stock Fans</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $0
                                    </span>
                            </div>

                        </a>
                        <!-- this ng-click & ng-class will need to be dynamic somehow -->
                        <a class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true" ng-click="cpmcco1 = !cpmcco1" ng-class="cpmcco1 ? 'cpm-expand-desc-active' : 'default'"></i></a>
                        <div class="cpm-description" ng-class="cpmcco1 ? 'cpm-desc-open' : 'cpm-desc-hide'">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="#" />
                                </div>
                                <div class="col-md-9">
                                    <p>An optional expanded description relating to this individual part maybe with some more information and stuff but will be hidden by default until the user expands this information.</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>LED Fans</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $100
                                    </span>
                            </div>
                        </a>
                        <a class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true" ng-click="cpmcco2 = !cpmcco2" ng-class="cpmcco2 ? 'cpm-expand-desc-active' : 'default'"></i></a>


                    <!-- only shows if LED is selected,  will need to be replaced by product images -->
                        <div class="cpm-description cpm-color-picker" ng-class="cpmcco2 ? 'cpm-desc-open' : 'cpm-desc-hide'">
                            <div class="row">
                                <div class="col-xs-4 col-md-2">
                                    <a href="#" class="cpm-color red"></a>
                                    <p>Red</p>
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <a class="cpm-color blue"></a>
                                    <p>Blue</p>
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <a class="cpm-color green selected"></a>
                                    <p>Green</p>
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <a class="cpm-color purple"></a>
                                    <p>Purple</p>
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <a class="cpm-color yellow"></a>
                                    <p>Yellow</p>
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <a class="cpm-color white"></a>
                                    <p>white</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>Performance</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                            </div>

                        </a>
                        <a class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true" ng-click="cpmcco3 = !cpmcco3" ng-class="cpmcco3 ? 'cpm-expand-desc-active' : 'default'"></i></a>
                        <div class="cpm-description" ng-class="cpmcco3 ? 'cpm-desc-open' : 'cpm-desc-hide'">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="#" />
                                </div>
                                <div class="col-md-9">
                                    <p>An optional expanded description relating to this individual part maybe with some more information and stuff but will be hidden by default until the user expands this information.</p>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </section>


            <section class="cp-module">
                <h3 class="cpm-title">Case LED Options</h3>
                <ul class="cpm-list">

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>LED Strips</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $100
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span>
                            </div>
                        </a>

                        <!-- only shows if LED is selected -->
                        <div class="cpm-description cpm-color-picker">
                            <div class="row">
                                <div class="col-xs-4 col-md-2">
                                    <a href="#" class="cpm-color red"></a>
                                    <p>Red</p>
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <a class="cpm-color blue"></a>
                                    <p>Blue</p>
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <a class="cpm-color green selected"></a>
                                    <p>Green</p>
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <a class="cpm-color purple"></a>
                                    <p>Purple</p>
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <a class="cpm-color yellow"></a>
                                    <p>Yellow</p>
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <a class="cpm-color white"></a>
                                    <p>white</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>None</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>
                    </li>

                </ul>
            </section>


            <section class="cp-module">
                <h3 class="cpm-title">Cabling</h3>
                <ul class="cpm-list">

                    <li>
                        <a class="cpm-inner">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>Basic</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $0
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span>
                            </div>
                        </a>

                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>Colored</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <!-- only shows if LED is selected -->
                        <div class="cpm-description cpm-color-picker">
                            <div class="row">
                                <div class="col-md-2">
                                    <a href="#" class="cpm-color red"></a>
                                    <p>Red</p>
                                </div>
                                <div class="col-md-2">
                                    <a class="cpm-color blue"></a>
                                    <p>Blue</p>
                                </div>
                                <div class="col-md-2">
                                    <a class="cpm-color green selected"></a>
                                    <p>Green</p>
                                </div>
                                <div class="col-md-2">
                                    <a class="cpm-color purple"></a>
                                    <p>Purple</p>
                                </div>
                                <div class="col-md-2">
                                    <a class="cpm-color yellow"></a>
                                    <p>Yellow</p>
                                </div>
                                <div class="col-md-2">
                                    <a class="cpm-color white"></a>
                                    <p>white</p>
                                </div>
                            </div>
                        </div>
                    </li>


                </ul>
            </section>


            <a name="performance"></a>
            <h2 class="cp-breaker-title">Performance Options</h2>

            <!-- CPU will be locked to build -->
            <section class="cp-module">
                <h3 class="cpm-title">Processor</h3>
                <ul class="cpm-list">

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>Intel Core i7-6700k Quad Core 4.0GHz </h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $0
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <div class="cpm-description">
                            <p>An optional expanded description relating to this individual part maybe with some more information and stuff but will be hidden by default until the user expands this information.</p>
                        </div>
                    </li>

                </ul>
            </section>



            <section class="cp-module">
                <h3 class="cpm-title">Memory</h3>
                <ul class="cpm-list">

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>4 GB Kingston HyperX 3200Mhz </h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $0
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>

                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>8 GB Kingston HyperX 3200Mhz</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <div class="cpm-description">
                            <p>An optional expanded description relating to this individual part maybe with some more information and stuff but will be hidden by default until the user expands this information.</p>
                        </div>
                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>16 GB Kingston HyperX 3200Mhz</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>32 GB Kingston HyperX 3200Mhz</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>
                    </li>

                </ul>
            </section>



            <section class="cp-module">
                <h3 class="cpm-title">Graphics</h3>
                <ul class="cpm-list">

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>NVIDIA GTX 970</h4>
                                <p>Stage One Overclocking Included</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>

                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>NVIDIA GTX 970 Two-Way SLI</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>NVIDIA GTX 980Ti</h4>
                                <p>Stage One Overclocking Included</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>

                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>NVIDIA GTX 980Ti Two-Way SLI</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>AMD Radeon 390X</h4>
                                <p>Stage One Overclocking Included</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>

                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>AMD Radeon 390X Two-Way Crossfire</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>
                    </li>

                </ul>
            </section>

            <!-- will have extra styling -->
            <section class="cp-module">
                <h3 class="cpm-title">ShadowRigs Overclocking</h3>
                <ul class="cpm-list">

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>Overclocking Stage 1</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>

                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>Overclocking Stage 2</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>Overclocking Stage 3</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>
                    </li>

                </ul>
            </section>

            <a name="storage"></a>
            <h2 class="cp-breaker-title">Storage, Optical & Extras</h2>
            <section class="cp-module">
                <h3 class="cpm-title">Hard Drives</h3>
                <ul class="cpm-list">

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>500GB Samsung EVO 850 Solid State Drive </h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $0
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>

                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>2x 500GB Samsung EVO 850 Solid State Drive in RAID0</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>2x 500GB Samsung EVO 850 Solid State Drive RAID1</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>1TB WesternDigital 7200RPM </h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $0
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>

                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>2x 1TB 1TB WesternDigital 7200RPM in RAID0</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>2x 1TB 1TB WesternDigital 7200RPM in RAID1</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>
                    </li>

                </ul>
            </section>



            <section class="cp-module">
                <h3 class="cpm-title">Optical Drives</h3>
                <ul class="cpm-list">

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>BluRay Burner</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span>
                            </div>
                        </a>

                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>BluRay Player</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <div class="cpm-description">
                            <p>An optional expanded description relating to this individual part maybe with some more information and stuff but will be hidden by default until the user expands this information.</p>
                        </div>
                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>DVD Burner</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>None</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>
                    </li>

                </ul>
            </section>


            <section class="cp-module">
                <h3 class="cpm-title">Operating System</h3>
                <ul class="cpm-list">

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>Windows 10 Home</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $0
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>

                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>Windows 10 Professional</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <div class="cpm-description">
                            <p>An optional expanded description relating to this individual part maybe with some more information and stuff but will be hidden by default until the user expands this information.</p>
                        </div>
                    </li>


                </ul>
            </section>




            <section class="cp-module">
                <h3 class="cpm-title">Internal WiFi</h3>
                <ul class="cpm-list">

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>Standard Internal WiFi</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span>
                            </div>
                        </a>

                    </li>

                    <li>
                        <a class="cpm-inner" href="#">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>High Performance Internal WiFi</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <div class="cpm-description">
                            <p>An optional expanded description relating to this individual part maybe with some more information and stuff but will be hidden by default until the user expands this information.</p>
                        </div>
                    </li>

                </ul>
            </section>





        </div><!-- end column -->

        <div class="col-sm-12 col-md-4" ng-include="'app/partials/customize/summary.html'"></div>
    </div><!-- end container -->
</section><!-- end customize-product-top -->

<pre>
Customize page order (Rough Outline, will need Dom/Gringo's input for final):

Case Options

Case Cooling Options
    Stock Fans
    LED Fans
        Color Options
    Performance

Case Color
    LED Strips
        Color Options
    None

Cable Color
    Basic
    Colored
        Color Options

Processor (locked to build)

RAM
    4
    8
    16
    32
    64

Graphics
    Card option #1
    Card option #1 2-way SLI
    Card option #2
    Card option #2 2-way Crossfire

Overclock (CPU & GPU)
    Stage One
    Stage Two
    Stage Three

Hard Drive
    HDD option #1
    HDD option #1 RAID0
    HDD option #1 RAID1

    SSD option #2
    SSD option #2 RAID0
    SSD option #2 RAID1

    SSD option #2 m.2

Optical Drives
    BR Burner
    BR player
    DVD burner

Operating System
    Win 10 Home
    Win 10 Pro

Internal WiFi
    Option #1
    Option #2

EXTRAS

External Storage
Routers
Monitor
Cables
Speakers
Headphones
Keyboard/Mouse
Branded Mouse Pads
Shirts
Surge Protected
Flash Drives
Camera

Support Package
    1-3 Year for Free
    2-4 Paid
    3-5 Year

Rush Processing

</pre>

<!-- OLD

<div class="container">

    <h1>Customize</h1>

    <div class="row">

        <div class="col-lg-6">
            <div class="accordion" ng-init="status = {open:true}" ng-repeat="group in groups">
                <div class="accordion-heading">
                    <h4>
                        <a ng-click="status.open = !status.open"> {{group.title}} </a>
                    </h4>
                    <i ng-class="{'fa fa-chevron-down':!status.open, 'fa fa-chevron-right': status.open}"></i>
                </div>
                <ul class="accordion-items" collapse="status.open">
                    <li ng-repeat="item in group.items" ng-mouseover="onHoverItem(item)" ng-click="item.active = !item.active" >
                        {{item.name}}
                        <span class="square">
                            <span class="square-inner" ng-hide="!item.active"></span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-6 col-xs-6 selected-item" ng-hide="!hoverItem">
            <h3> {{hoverItem.name}} </h3>
            <img src=" {{hoverItem.img}}" class="img-responsive"/>
            <p>
                {{hoverItem.description}}
            </p>
        </div>

    </div>

</div> -->