<section class="customize-product-top">
    <div class="container">
        <div class="col-md-8 cp-product-img">
            <img src="/public/images/products/phantom.png">

            <!-- TODO finish style/js & import -->

            <section class="cp-module">
                <h3 class="cpm-title">Processor</h3>
                <ul class="cpm-list">

                    <li>
                        <div class="cpm-inner">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>Intel Core i7 5960X 3.5GHz</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="cpm-description">
                            <p>An optional expanded description relating to this individual part maybe with some more information and stuff but will be hidden by default until the user expands this information.</p>
                        </div>
                    </li>

                    <li>
                        <div class="cpm-inner">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>Intel Core i7 5960X 3.5GHz</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="cpm-inner">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>Intel Core i7 5960X 3.5GHz</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </li>

                </ul>
            </section>

            <section class="cp-module">
                <h3 class="cpm-title">Memory</h3>
                <ul class="cpm-list">

                    <li>
                        <div class="cpm-inner">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>12 GB Kingston HyperX 3200Mhz </h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </div>

                    </li>

                    <li>
                        <div class="cpm-inner">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>12 GB Kingston HyperX 3200Mhz</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="cpm-description">
                            <p>An optional expanded description relating to this individual part maybe with some more information and stuff but will be hidden by default until the user expands this information.</p>
                        </div>
                    </li>

                    <li>
                        <div class="cpm-inner">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>12 GB Kingston HyperX 3200Mhz</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </li>

                </ul>
            </section>


            <section class="cp-module">
                <h3 class="cpm-title">Memory</h3>
                <ul class="cpm-list">

                    <li>
                        <div class="cpm-inner">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>12 GB Kingston HyperX 3200Mhz </h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </div>

                    </li>

                    <li>
                        <div class="cpm-inner">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>12 GB Kingston HyperX 3200Mhz</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="cpm-description">
                            <p>An optional expanded description relating to this individual part maybe with some more information and stuff but will be hidden by default until the user expands this information.</p>
                        </div>
                    </li>

                    <li>
                        <div class="cpm-inner">
                            <div class="cpm-radio-wrap">
                                <input type="radio">
                            </div>
                            <div class="cpm-item-wrap">
                                <h4>12 GB Kingston HyperX 3200Mhz</h4>
                                <p>Some brief descriptive text here.</p>
                                    <span class="cpm-price">
                                        + $120
                                    </span>
                                <span class="cpm-expand-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </li>

                </ul>
            </section>

        </div>

        <div class="col-md-4">
            <!-- will be sticky -->
            <div ng-app="demo" ng-controller="demoCtrl">
                <section class="cp-summary" id="sticker" sticky>
                    <h2 class="cps-summary-title">PHANTOM</h2>
                    <ul class="cps-list">
                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Stage One Overclocking Included</li>
                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Rigorous Stress Testing</li>
                    </ul>
                    <div class="cps-delivery"><h3>EST. Delivery:</h3><span>10-15 Business Days</span></div>
                    <div class="cps-total"><h3>Total:</h3><span>$1,500</span></div>
                    <p><a href="">Email us about this build</a></p>
                    <a href="#" class="cps-add-to-cart">Add to Cart</a>
                </section>
            </div>
        </div>
    </div>
</section>






<!-- OLD

<div class="container">

    <h1>Customize</h1>

    <div class="row">

        <div class="col-lg-6">
            <div class="accordion" ng-init="status = {open:true}" ng-repeat="group in groups">
                <div class="accordion-heading">
                    <h4>
                        <a ng-click="status.open = !status.open"> {{group.title}} </a>
                    </h4>
                    <i ng-class="{'fa fa-chevron-down':!status.open, 'fa fa-chevron-right': status.open}"></i>
                </div>
                <ul class="accordion-items" collapse="status.open">
                    <li ng-repeat="item in group.items" ng-mouseover="onHoverItem(item)" ng-click="item.active = !item.active" >
                        {{item.name}}
                        <span class="square">
                            <span class="square-inner" ng-hide="!item.active"></span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-6 col-xs-6 selected-item" ng-hide="!hoverItem">
            <h3> {{hoverItem.name}} </h3>
            <img src=" {{hoverItem.img}}" class="img-responsive"/>
            <p>
                {{hoverItem.description}}
            </p>
        </div>

    </div>

</div> -->