<nav class="nav sidebar-nav">
    <img src="img/shadow-rigs-logo-big.png" class="img-fluid sidebar-logo" />
    <ul>
        <li><a href="#"><div class="sidebar-nav-left"><span class="fa fa-home" aria-hidden="true"></span></div><div class="sidebar-nav-right">Home</div></a></li>
        <li><a href="#"><div class="sidebar-nav-left"><span class="fa fa-desktop" aria-hidden="true"></span></div><div class="sidebar-nav-right">Products</div></a></li>
        <li><a href="#"><div class="sidebar-nav-left"><span class="fa fa-users" aria-hidden="true"></span></div><div class="sidebar-nav-right">The Crew</div></a></li>
        <li><a href="#"><div class="sidebar-nav-left"><span class="fa fa-question-circle" aria-hidden="true"></div></span><div class="sidebar-nav-right">Support</div></a></li>
        <li><a href="#"><div class="sidebar-nav-left"><span class="fa fa-lock" aria-hidden="true"></span></div><div class="sidebar-nav-right">Account</div></a></li>
        <li><a href="#"><div class="sidebar-nav-left"><span class="fa fa-shopping-cart" aria-hidden="true"></span></div><div class="sidebar-nav-right">Cart</div></a></li>
        <li><a href="#"><div class="sidebar-nav-left"><span class="fa fa-sign-in" aria-hidden="true"></span></div><div class="sidebar-nav-right">Sign In</div></a></li>
    </ul>
</nav>

<section class="top-header-wrap">
    <div class="container">
        <span class="fa fa-phone" aria-hidden="true"></span><span class="top-header-phone">202-555-0182</span>
        <span class="top-header-email"><a href="mailto:info@shadowrigs.com">info@shadowrigs.com</a></span>
        <div class="hamburger-menu" id="menu-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>
</section>

<section class="header-wrap">

    <div class="container header-container">
        <div class="header-logo-wrap col-md-3 col-xs-12 col-sm-6 col-sm-push-3 col-md-push-0 nopadding">
            <a href=""><h1 class="screen-reader">Shadow Rigs</h1></a>
        </div>
        <nav class="nav header-nav-wrap col-sm-9">
            <ul>
                <li><a href="#"><span class="fa fa-home active" aria-hidden="true"></span>Home</a></li>
                <li><a href="#"><span class="fa fa-desktop" aria-hidden="true"></span>Products</a></li>
                <li><a href="#"><span class="fa fa-users" aria-hidden="true"></span>The Crew</a></li>
                <li><a href="#"><span class="fa fa-question-circle" aria-hidden="true"></span>Support</a></li>
                <li><a href="#"><span class="fa fa-lock" aria-hidden="true"></span>Account</a></li>
                <li><a href="#"><span class="fa fa-shopping-cart" aria-hidden="true"></span>Cart</a></li>
                <li><a href="#"><span class="fa fa-sign-in" aria-hidden="true"></span>Sign In</a></li>
            </ul>
        </nav>
    </div>

</section>


<!-- OLD
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><img src="../../public/images/ShadowRigsHeaderBlack.png" /> </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: currentTab('/home')}"><a href="#/"><span class="header-spacer">Home</span></a></li>
                <li ng-class="{ active: currentTab('/products')}"><a href="#/products"><span class="header-spacer">Products</span></a></li>
                <li ng-class="{ active: currentTab('/warranty')}"><a href="#/warranty"><span class="header-spacer">Warranty</span></a></li>
                <li ng-class="{ active: currentTab('/the-players')}"><a href="#/the-crew"><span class="header-spacer">The Crew</span></a></li>
                <li ng-class="{ active: currentTab('/contact')}"><a href="#/contact"><span class="header-spacer" id="last-header-item">Contact</span></a></li>
            </ul>
        </div>
    </div>
</nav> END -->