<nav class="nav sidebar-nav" id="sidebar-nav">
    <img src="public/images/shadow-rigs-logo.png" class="img-fluid sidebar-logo" />
    <ul class="sidebar-nav-wrap">
        <li class="sidebar-li"><a href="#/"><div class="sidebar-nav-left"><span class="fa fa-home" ng-class="{ active: currentTab('/home')}" aria-hidden="true"></span></div><div class="sidebar-nav-right">Home</div></a></li>
        <li><a href="/#products"><div class="sidebar-nav-left"><span class="fa fa-desktop" ng-class="{ active: currentTab('/products')}" aria-hidden="true"></span></div><div class="sidebar-nav-right">Products</div></a></li>
        <li><a href="/#the-crew"><div class="sidebar-nav-left"><span class="fa fa-users" ng-class="{ active: currentTab('/shadowrigs-crew')}" aria-hidden="true"></span></div><div class="sidebar-nav-right">The Crew</div></a></li>
        <li><a href="/#support"><div class="sidebar-nav-left"><span class="fa fa-question-circle" ng-class="{ active: currentTab('/support')}" aria-hidden="true"></span></div><div class="sidebar-nav-right">Support</div></a></li>
    </ul>

</nav>

<div class="hamburger-menu" id="menu-btn">
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="full-page-hamburger-menu" id="full-page-menu-btn">
    <span></span>
    <span></span>
    <span></span>
</div>

<section class="full-header-wrap header-wrap">

    <div class="container header-container">
        <div class="top-header-container">
            <span class="fa fa-phone" aria-hidden="true"></span><span class="top-header-phone">202-555-0182</span>
            <span class="top-header-email"><a href="mailto:info@shadowrigs.com">info@shadowrigs.com</a></span>
        </div>

        <div class="header-logo-wrap col-md-3 col-xs-12 col-sm-6 col-sm-push-3 col-md-push-0">
            <a href=""><h1 class="screen-reader">Shadow Rigs</h1></a>
        </div>
        <nav class="nav header-nav-wrap col-sm-9">
            <ul>
                <li><a href="/#"><span class="fa fa-home" ng-class="{ active: currentTab('/home')}" aria-hidden="true"></span>Home</a></li>
                <li><a href="/#products"><span class="fa fa-desktop" ng-class="{ active: currentTab('/products')}" aria-hidden="true"></span>Products</a></li>
                <li><a href="/#the-crew"><span class="fa fa-users" ng-class="{ active: currentTab('/shadowrigs-crew')}" aria-hidden="true"></span>The Crew</a></li>
                <li><a href="/#support"><span class="fa fa-question-circle" ng-class="{ active: currentTab('/support')}" aria-hidden="true"></span>Support</a></li>
            </ul>
        </nav>
    </div>
</section>