<div class="" ng-include="'app/partials/carousel.html'"></div>



<div class="" ng-include="'app/partials/product-highlight.html'"></div>

<!-- TODO add homepage content -->

<div class="row lower-page-content-wraper">
    <div class="container" id="product-types">

        <div class="col-lg-3 col-sm-6 col-xs-12 home-product-link-wrap" ng-repeat="category in categories">
            <a ng-href="#/products/{{category.shortName}}">
                <b>{{category.name}}</b>
            </a>
        </div>

    </div>
</div>

<div class="container-fluid" id="home-fluid-wrap">


</div>

