<div class="" ng-include="'app/partials/carousel.html'"></div>



<div class="" ng-include="'app/partials/product-highlight.html'"></div>

<div class="row lower-page-content-wraper">
    <div class="container" id="product-types">

        <div class="col-lg-3 col-sm-6 col-xs-12 home-product-link-wrap" ng-repeat="category in categories">
            <a ng-href="#/products/{{category.shortName}}">
                <b>{{category.name}}</b>
            </a>
        </div>

    </div>
</div>

<div class="container-fluid" id="home-fluid-wrap">
    <div id="home-text" class="row">
        <div class="col-lg-offset-3 col-lg-5 col-md-6 col-xs-12">
            <h1>Some heading 111</h1>

            <div class="text-columns-lg-2 text-columns-md-1 thin-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse finibus gravida orci, nec
                    eleifend
                    nibh pulvinar id. Sed id pharetra ligula, sit amet consectetur purus. Pellentesque porta dui ac nunc
                    porttitor, hendrerit venenatis velit tincidunt. Pellentesque tellus orci, venenatis hendrerit
                    dignissim
                    in, scelerisque non arcu. Vivamus at risus blandit, placerat neque sed, accumsan dolor. Mauris quis
                    purus erat. Nam purus ipsum, luctus sit amet eros non, convallis blandit elit. Ut tristique bibendum
                    blandit. Phasellus risus neque, vulputate a mauris vitae, facilisis aliquam arcu. Nullam et mattis
                    augue, ut pretium odio. Nulla varius felis at auctor feugiat. Praesent eget nisl ipsum. Maecenas eu
                    nulla in tellus sodales hendrerit non non velit.</p>

                <p>Sed a ante odio. Suspendisse potenti. Morbi justo ipsum, pharetra convallis sodales vel, posuere ac
                    felis. Pellentesque gravida nisl vitae imperdiet vulputate. Quisque viverra odio ac libero tempus,
                    nec
                    commodo augue dignissim. Cras varius, nulla eget elementum vehicula, ipsum orci maximus erat, id
                    placerat quam erat sit amet felis. Duis mollis vestibulum augue in suscipit. Praesent pretium erat
                    eget
                    tincidunt lacinia. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                    Curae; Sed dictum eros eget viverra venenatis. Nunc luctus augue sit amet mi dignissim fermentum.
                    Sed eu
                    augue eu nisi bibendum hendrerit eget a magna. Donec eget libero at libero commodo fringilla.</p>

            </div>
        </div>


        <!--TODO comment out for now -->
        <!--<div id="home-image" class="col-lg-4 col-md-6 col-xs-12"><img src="public/images/ShadowRigsredBG.jpg"/></div>-->
    </div>
</div>

