<!-- <div class="container products-wrap" ng-class="{{pageClass}}">
    <div class="row">
    <h1>Our Products</h1>
        <div class="col-lg-6 col-sm-6 col-xs-12 product-item" ng-repeat="category in categories">
            <a ng-href="#/products/{{category.shortName}}">
                <h3>{{category.name}}</h3>
                <img ng-src="{{category.coverImage}}" class="img-responsive">
            </a>

            <a ng-href="#/customize/{{category.shortName}}">
                <div class="btn btn-primary">Customize</div>
            </a>

        </div>
    </div>
</div> -->

<section class="content-wrap">
    <div class="product-main-highlight">

        <div class="product-title-wrap">
            <h1 class="animated fadeInDown">Choose Your Rig</h1>
            <h2 class="animated fadeInUp">View our selection of powerful Gaming Desktops. Small form to full tower, Fully Customizable. </h2>

        </div>


    </div>

    <div class="product-page-break" id="sticker">
        <a href="/">Customize A Rig</a>
    </div>





    <div class="content page-content product-content">
        <div class="container">

            <div class="col-xl-6 col-sm-12">
                <a href="#/products/gaming/phantom" class="product-module-list">
                    <img src="/public/images//products/phantom.png" class="img-fluid">
                    <h2>Phantom</h2>
                    <p>Some text or something in regards and maybe relating to this individual product.</p>
                </a>
                <div class="product-expanded-module">
                    <h3>ShadowRigs Phantom</h3>
                    <h4>SPECS AT-A-GLANCE</h4>
                    <h5>Mark 1</h5>
                    <ul>
                        <li>CPU: Intel i7 6700k 4.0GHz</li>
                        <li>GPU: NVIDIA GTX 970</li>
                        <li>RAM: 8GB 3000MHz</li>
                    </ul>
                    <h5>Mark 2</h5>
                    <ul>
                        <li>CPU: Intel i7 6700k 4.0GHz</li>
                        <li>GPU: NVIDIA GTX 970</li>
                        <li>RAM: 8GB 3000MHz</li>
                    </ul>
                    <h5>Mark 3</h5>
                    <ul>
                        <li>CPU: Intel i7 6700k 4.0GHz</li>
                        <li>GPU: NVIDIA GTX 970</li>
                        <li>RAM: 8GB 3000MHz</li>
                    </ul>
                    <h5>Mark 4</h5>
                    <ul>
                        <li>CPU: Intel i7 6700k 4.0GHz</li>
                        <li>GPU: NVIDIA GTX 970</li>
                        <li>RAM: 8GB 3000MHz</li>
                    </ul>
                    <h5>Mark 5</h5>
                    <ul>
                        <li>CPU: Intel i7 6700k 4.0GHz</li>
                        <li>GPU: NVIDIA GTX 970</li>
                        <li>RAM: 8GB 3000MHz</li>
                    </ul>
                    <a href="#">Customize <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="col-xl-6 col-sm-12">
                <a href="#/products/gaming/specter" class="product-module-list">
                    <img src="/public/images//products/main-specter.png" class="img-fluid">
                    <h2>Specter</h2>
                    <p>Some text or something in regards and maybe relating to this individual product.</p>
                </a>
                <div class="product-expanded-module">
                    <h3>ShadowRigs Specter</h3>
                    <h4>TECH SPECS</h4>
                    <h5>Mark I</h5>
                    <ul>
                        <li>CPU: Intel i7 6700k 4.0GHz</li>
                        <li>GPU: NVIDIA GTX 970</li>
                        <li>RAM: 8GB 3000MHz</li>
                    </ul>
                    <h5>Mark II</h5>
                    <ul>
                        <li>CPU: Intel i7 6700k 4.0GHz</li>
                        <li>GPU: NVIDIA GTX 970</li>
                        <li>RAM: 8GB 3000MHz</li>
                    </ul>
                    <h5>Mark III</h5>
                    <ul>
                        <li>CPU: Intel i7 6700k 4.0GHz</li>
                        <li>GPU: NVIDIA GTX 970</li>
                        <li>RAM: 8GB 3000MHz</li>
                    </ul>
                    <a href="#">Customize <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="col-xl-6 col-sm-12">
                <a href="#/products/gaming/shade" class="product-module-list">
                    <img src="/public/images//products/main-shade.png" class="img-fluid">
                    <h2>Shade</h2>
                    <p>Some text or something in regards and maybe relating to this individual product.</p>
                </a>
                <div class="product-expanded-module">
                    <h3>ShadowRigs Shade</h3>
                    <h4>TECH SPECS</h4>
                    <h5>Mark I</h5>
                    <ul>
                        <li>CPU: Intel i7 6700k 4.0GHz</li>
                        <li>GPU: NVIDIA GTX 970</li>
                        <li>RAM: 8GB 3000MHz</li>
                    </ul>
                    <h5>Mark II</h5>
                    <ul>
                        <li>CPU: Intel i7 6700k 4.0GHz</li>
                        <li>GPU: NVIDIA GTX 970</li>
                        <li>RAM: 8GB 3000MHz</li>
                    </ul>
                    <h5>Mark III</h5>
                    <ul>
                        <li>CPU: Intel i7 6700k 4.0GHz</li>
                        <li>GPU: NVIDIA GTX 970</li>
                        <li>RAM: 8GB 3000MHz</li>
                    </ul>
                    <a href="#">Customize <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="col-xl-6 col-sm-12">
                <a href="#/products/gaming/wraith" class="product-module-list">
                    <img src="/public/images//products/main-wraith.png" class="img-fluid">
                    <h2>Wraith</h2>
                    <p>Some text or something in regards and maybe relating to this individual product.</p>
                </a>
                <div class="product-expanded-module">
                    <h3>ShadowRigs Wraith</h3>
                    <h4>TECH SPECS</h4>
                    <h5>Mark I</h5>
                    <ul>
                        <li>CPU: Intel i7 6700k 4.0GHz</li>
                        <li>GPU: NVIDIA GTX 970</li>
                        <li>RAM: 8GB 3000MHz</li>
                    </ul>
                    <h5>Mark II</h5>
                    <ul>
                        <li>CPU: Intel i7 6700k 4.0GHz</li>
                        <li>GPU: NVIDIA GTX 970</li>
                        <li>RAM: 8GB 3000MHz</li>
                    </ul>
                    <h5>Mark III</h5>
                    <ul>
                        <li>CPU: Intel i7 6700k 4.0GHz</li>
                        <li>GPU: NVIDIA GTX 970</li>
                        <li>RAM: 8GB 3000MHz</li>
                    </ul>
                    <a href="#">Customize <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>


        </div>
    </div>
</section>