<div class="container">
    <h1 id="product-header">Long description</h1>

    <div class="ld-wrap">
        <!--<span class="glyphicon glyphicon-remove">&lt;!&ndash;this is the exit button to the page... when the user clicks this it should bring them back to the products page.&ndash;&gt;</span>-->
        <div class="ld-image-wrap">
            <img src="http://placehold.it/800x500" class="img-responsive" id="main-image">

            <div class="ld-small-image-wrap">
                <img src="http://placehold.it/100x100"/>
                <img src="http://placehold.it/100x100"/>
                <img src="http://placehold.it/100x100"/>
                <img src="http://placehold.it/100x100"/>
                <img src="http://placehold.it/100x100"/>
                <img src="http://placehold.it/100x100"/>
                <img src="http://placehold.it/100x100"/>
                <!--<img src="http://placehold.it/100x100"/>-->
            </div>

        </div>


        <!--<div class="row options">-->
            <!--<div class="col-lg-4 active">Overview</div>-->
            <!--<div class="col-lg-4">Tech Specs</div>-->
            <!--<div class="col-lg-4">Customize</div>-->
            <uib-tabset>
                <uib-tab heading="Overview">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in mauris velit. Sed porttitor lacus congue, porta orci elementum, accumsan nulla. Donec nisl justo, varius sit amet lorem dictum, ornare mollis diam. Nulla eu fringilla libero. Etiam pulvinar odio in posuere tempor. Curabitur vestibulum porttitor massa, sit amet tincidunt tellus sollicitudin id. Suspendisse viverra lectus dapibus sapien vulputate, id facilisis lectus porta. Pellentesque faucibus urna ut porta malesuada. Proin maximus elementum elit at placerat. Suspendisse massa nulla, venenatis at semper id, rhoncus id velit. Sed dapibus, nisl eget viverra congue, metus urna tristique orci, auctor blandit nunc elit et urna.</p>

                    <p>Quisque quis ultrices neque. Donec malesuada arcu in ornare cursus. Curabitur efficitur nunc ullamcorper dictum pulvinar. Suspendisse potenti. Maecenas ac metus eleifend erat pretium dignissim. Pellentesque fermentum velit sed sodales facilisis. Duis cursus nisi eu tincidunt efficitur. Praesent viverra pellentesque lectus a imperdiet. Quisque purus diam, dictum at est id, pretium efficitur eros. Nullam sem lorem, tempor eget ornare vel, rutrum eu lectus. Aliquam efficitur, enim tincidunt iaculis aliquam, nisl neque fringilla lacus, et mattis felis nunc nec risus. Maecenas ac turpis ut sem accumsan porta vitae vitae ligula. Ut ultrices convallis magna, feugiat dapibus erat tempor eu. Maecenas justo magna, congue in aliquet eget, finibus ut tortor. Praesent elementum placerat semper. Fusce vitae augue nisl.</p>

                </uib-tab>
                <uib-tab heading="Tech Specs" class="col-lg-4">
                    <p>Quisque quis ultrices neque. Donec malesuada arcu in ornare cursus. Curabitur efficitur nunc ullamcorper dictum pulvinar. Suspendisse potenti. Maecenas ac metus eleifend erat pretium dignissim. Pellentesque fermentum velit sed sodales facilisis. Duis cursus nisi eu tincidunt efficitur. Praesent viverra pellentesque lectus a imperdiet. Quisque purus diam, dictum at est id, pretium efficitur eros. Nullam sem lorem, tempor eget ornare vel, rutrum eu lectus. Aliquam efficitur, enim tincidunt iaculis aliquam, nisl neque fringilla lacus, et mattis felis nunc nec risus. Maecenas ac turpis ut sem accumsan porta vitae vitae ligula. Ut ultrices convallis magna, feugiat dapibus erat tempor eu. Maecenas justo magna, congue in aliquet eget, finibus ut tortor. Praesent elementum placerat semper. Fusce vitae augue nisl.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in mauris velit. Sed porttitor lacus congue, porta orci elementum, accumsan nulla. Donec nisl justo, varius sit amet lorem dictum, ornare mollis diam. Nulla eu fringilla libero. Etiam pulvinar odio in posuere tempor. Curabitur vestibulum porttitor massa, sit amet tincidunt tellus sollicitudin id. Suspendisse viverra lectus dapibus sapien vulputate, id facilisis lectus porta. Pellentesque faucibus urna ut porta malesuada. Proin maximus elementum elit at placerat. Suspendisse massa nulla, venenatis at semper id, rhoncus id velit. Sed dapibus, nisl eget viverra congue, metus urna tristique orci, auctor blandit nunc elit et urna.</p>

                </uib-tab>
                <uib-tab heading="Customize" class="col-lg-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in mauris velit. Sed porttitor lacus congue, porta orci elementum, accumsan nulla. Donec nisl justo, varius sit amet lorem dictum, ornare mollis diam. Nulla eu fringilla libero. Etiam pulvinar odio in posuere tempor. Curabitur vestibulum porttitor massa, sit amet tincidunt tellus sollicitudin id. Suspendisse viverra lectus dapibus sapien vulputate, id facilisis lectus porta. Pellentesque faucibus urna ut porta malesuada. Proin maximus elementum elit at placerat. Suspendisse massa nulla, venenatis at semper id, rhoncus id velit. Sed dapibus, nisl eget viverra congue, metus urna tristique orci, auctor blandit nunc elit et urna.</p>

                    <p>Quisque quis ultrices neque. Donec malesuada arcu in ornare cursus. Curabitur efficitur nunc ullamcorper dictum pulvinar. Suspendisse potenti. Maecenas ac metus eleifend erat pretium dignissim. Pellentesque fermentum velit sed sodales facilisis. Duis cursus nisi eu tincidunt efficitur. Praesent viverra pellentesque lectus a imperdiet. Quisque purus diam, dictum at est id, pretium efficitur eros. Nullam sem lorem, tempor eget ornare vel, rutrum eu lectus. Aliquam efficitur, enim tincidunt iaculis aliquam, nisl neque fringilla lacus, et mattis felis nunc nec risus. Maecenas ac turpis ut sem accumsan porta vitae vitae ligula. Ut ultrices convallis magna, feugiat dapibus erat tempor eu. Maecenas justo magna, congue in aliquet eget, finibus ut tortor. Praesent elementum placerat semper. Fusce vitae augue nisl.</p>

                </uib-tab>
            </uib-tabset>

        <!--</div>-->


    </div>
</div>