
<div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
    Your cart is empty
</div>



<div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">

    <table class="table table-striped ngCart cart" style="font-weight: bold; color: black; background-color: white;">

        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-show="ngCart.getTax()">
            <td></td>
            <td></td>
            <td></td>
            <td>Tax ({{ ngCart.getTaxRate() }}%):</td>
            <td>{{ ngCart.getTax() | currency }}</td>
        </tr>
        <tr ng-show="ngCart.getShipping()">
            <td></td>
            <td></td>
            <td></td>
            <td>Shipping:</td>
            <td>{{ ngCart.getShipping() | currency }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>{{ ngCart.totalCost() | currency }}</td>
        </tr>
        </tfoot>
        <tbody ng-repeat="item in ngCart.getCart().items track by $index">
        <tr>
            <td>
                <span ng-click="ngCart.removeItemById(item.getId())">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
            </td>

            <td>{{ item.getName() }}</td>
            <td>
                <span class="cart-remove-item" ng-class="{'disabled':item.getQuantity()== 1 }" ng-click="item.setQuantity(-1, true)">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </span>&nbsp;&nbsp;

                {{ item.getQuantity() | number }}&nbsp;&nbsp;

                <span ng-click="item.setQuantity(1, true)">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
            </td>

            <td>{{ item.getPrice() | currency}}</td>
            <td>{{ item.getTotal() | currency }}</td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Case: {{ item.getData().caseOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().caseOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Case Cooling: {{ item.getData().caseCoolingOptions.current.name }} {{ item.getData().caseCoolingOptions.current.currentOption ? '('+item.getData().caseCoolingOptions.current.currentOption.name+')' : '' }}</td>
            <td></td>
            <td>{{ item.getData().caseCoolingOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Case Led: {{ item.getData().caseLedOptions.current.name }}  {{ item.getData().caseLedOptions.current.currentOption ? '('+item.getData().caseLedOptions.current.currentOption.name+')' : '' }}</td>
            <td></td>
            <td>{{ item.getData().caseLedOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Cabling: {{ item.getData().caseCablingOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().caseCablingOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Processor: {{ item.getData().performanceCpuOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().performanceCpuOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>System Cooling: {{ item.getData().performanceCoolingOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().performanceCoolingOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Motherboard: {{ item.getData().performanceMotherboardOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().performanceMotherboardOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Memory: {{ item.getData().performanceMemoryOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().performanceMemoryOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Graphics: {{ item.getData().performanceGraphicsOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().performanceGraphicsOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Overclocking: {{ item.getData().performanceOverclockOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().performanceOverclockOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Power Supply: {{ item.getData().performancePsuOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().performancePsuOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Solid State Drive: {{ item.getData().storageSsdOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().storageSsdOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>M.2 Solid State Drive: {{ item.getData().storageM2Options.current.name }}</td>
            <td></td>
            <td>{{ item.getData().storageM2Options.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Hard Drive: {{ item.getData().storageHddOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().storageHddOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Optical Drive: {{ item.getData().storageOpticalOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().storageOpticalOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Operating System: {{ item.getData().osOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().osOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Internal Wi-Fi: {{ item.getData().internalWifiOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().internalWifiOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Display: {{ item.getData().accDisplayOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().accDisplayOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Headset: {{ item.getData().accHeadsetOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().accHeadsetOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Speaker: {{ item.getData().accSpeakerOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().accSpeakerOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Keyboard: {{ item.getData().accKeyboardOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().accKeyboardOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Mice: {{ item.getData().accMiceOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().accMiceOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Flash: {{ item.getData().accFlashOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().accFlashOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        <tr class="cartSubItem">
            <td></td>
            <td>Surge: {{ item.getData().accSurgeOptions.current.name }}</td>
            <td></td>
            <td>{{ item.getData().accSurgeOptions.current.price | currency}}</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<style>
    .ngCart.cart span[ng-click] {
        cursor: pointer;
    }
    .ngCart.cart .cart-remove-item.disabled {
        color:#aaa;
    }

    .cartSubItem {
      font-weight:normal;
      font-size:11px;
    }
</style>
