<h3 class="cpm-title">Cabling</h3>
<ul class="cpm-list">
    <li ng-repeat="cabling in customizeController.rig.caseCablingOptions.items">
        <div class="cpm-inner">
            <div class="cpm-radio-wrap">
                <input type="radio" name="cabling.name"
                       ng-model="customizeController.rig.caseCablingOptions.current"
                       ng-value="cabling">
            </div>
            <div class="cpm-item-wrap">
                <h4>{{cabling.name}}</h4>
                <p>{{cabling.shortDescription}}</p>
                <span class="cpm-price">
                    + ${{cabling.price}}
                </span>
            </div>

        </div>
        <a class="cpm-expand-desc">
            <i class="fa fa-chevron-circle-right" aria-hidden="true" ng-click="cpmcabling1 = !cpmccabling"
               ng-class="cpmcabling1 ? 'cpm-expand-desc-active' : 'default'"></i>
        </a>

        <div class="cpm-description" ng-class="cpmcabling1 ? 'cpm-desc-open' : 'cpm-desc-hide'">
            <div class="row">
                <div class="col-md-3">
                    <img src="http://placehold.it/150x150">
                </div>
                <div class="col-md-9" ng-show="fan.cablingDescription">
                    <p>{{cabling.longDescription}}</p>
                </div>
            </div>

            <div class="row" ng-show="cabling.options.length">
                <div class="col-xs-4 col-md-2" ng-repeat="option in cabling.options">
                    <a href="#" class="cpm-color cpm-color-picker"></a>
                    <p>{{option.name}}</p>
                </div>
            </div>
        </div>
    </li>
</ul>
