<h3 class="cpm-title">Case LED Options</h3>
<ul class="cpm-list">
    <li ng-repeat="led in customizeController.rig.caseLedOptions.items"
        ng-init="itemId=customizeController.slugify(led.name);">
        <label for="{{itemId}}" class="cpm-inner">
            <div class="cpm-radio-wrap">
                <input type="radio" name="led.name" id="{{itemId}}"
                       ng-model="customizeController.rig.caseLedOptions.current"
                       ng-value="led">
            </div>
            <div class="cpm-item-wrap">
                <h4>{{led.name}}</h4>
                <p>{{led.shortDescription}}</p>
                    <span class="cpm-price">
                        {{led.priceDiff > 0 ? '+' : ''}}{{led.priceDiff | currency}}
                    </span>
            </div>

        </label>
        <a class="cpm-expand-desc" ng-show="led.name != 'None'">
            <i class="fa fa-chevron-circle-right" aria-hidden="true" ng-click="cpmled1 = !cpmled1"
               ng-class="cpmled1 ? 'cpm-expand-desc-active' : 'default'"></i>
        </a>

        <div class="cpm-description" ng-show="led.name != 'None'" ng-class="cpmled1 ? 'cpm-desc-open' : 'cpm-desc-hide'">
            <div class="row description">
                <!-- <div class="col-md-4">
                        <img ng-click="openImageModal('http://cdn.shadowrigs.com/images/PERIPHERALS/LIGHTING/' + led.coverImage)" ng-src="http://cdn.shadowrigs.com/images/PERIPHERALS/LIGHTING/{{led.coverImage}}">
                </div> -->
                <div class="col-md-12" ng-show="led.longDescription">
                  <p ng-bind-html="led.longDescription"></p>
                </div>
            </div>

            <div class="row options" ng-show="led.options.length">
                <div class="col-xs-4 col-md-2" ng-repeat="option in led.options">
                    <img ng-click="openImageModal('http://cdn.shadowrigs.com/images/PERIPHERALS/LIGHTING/' + option.coverImage)"  ng-src="http://cdn.shadowrigs.com/images/PERIPHERALS/LIGHTING/{{option.coverImage}}">
                    <p>
                      <label for="{{option.coverImage}}">
                        <input type="radio" name="{{led.name}}" id="{{option.coverImage}}"
                              ng-click="customizeController.selectSubOption('caseLedOptions', led, option)"
                               ng-model="customizeController.rig.caseLedOptions.current.currentOption"
                               ng-value="option">
                        {{option.name}}
                      </label>
                    </p>
                </div>
            </div>
        </div>

    </li>
</ul>
