<h3 class="cpm-title">Flash Drives</h3>
<ul class="cpm-list">
    <li ng-repeat="flash in customizeController.rig.accFlashOptions.items"
        ng-init="itemId=customizeController.slugify(flash.name);">
        <label for="{{flash.$$hashKey}}" class="cpm-inner">
            <div class="cpm-radio-wrap">
                <input type="radio" name="flash.name" id="{{flash.$$hashKey}}"
                       ng-model="customizeController.rig.accFlashOptions.current"
                       ng-value="flash">
            </div>
            <div class="cpm-item-wrap">
                <h4>{{flash.name}}</h4>
                <p>{{flash.shortDescription}}</p>
                <span class="cpm-price">
                        {{flash.priceDiff > 0 ? '+' : ''}}{{flash.priceDiff | currency}}
                </span>
            </div>

        </label>
        <a class="cpm-expand-desc" ng-show="flash.name != 'None'">
            <i class="fa fa-chevron-circle-right" aria-hidden="true" ng-click="cpmflash1 = !cpmflash1"
               ng-class="cpmflash1 ? 'cpm-expand-desc-active' : 'default'"></i>
        </a>

        <div class="cpm-description" ng-show="flash.name != 'None'" ng-class="cpmflash1 ? 'cpm-desc-open' : 'cpm-desc-hide'">
            <div class="row">
                <div class="col-md-4">
                  <img ng-click="openImageModal('http://cdn.shadowrigs.com/images/PERIPHERALS/STORAGE/' + flash.fullImageLink)" ng-src="http://cdn.shadowrigs.com/images/PERIPHERALS/STORAGE/{{flash.coverImage}}">
                </div>
                <div class="col-md-8" ng-show="flash.longDescription">
                  <p ng-bind-html="flash.longDescription"></p>
                </div>
            </div>

            <!--<div class="row" ng-show="cpu.options.length">
                <div class="col-xs-4 col-md-2" ng-repeat="option in cpu.options">
                    <a href="#" class="cpm-color"></a>
                    <p>{{option.name}}</p>
                </div>
            </div>-->
        </div>
    </li>
</ul>
